<div class="page_container table_details_blk">
  <h2 class="text_pri font_20 fw-semi mb_7">Settings</h2>
  <div class="d-flex align-items-start settings_nav_main_blk">
  <app-settings></app-settings>
  <div class="settings_nav_info_container">
    <div class="d-flex align-items-center justify-content-end mb_21">
      <!-- <div class="position-relative w-30">
        <input type="search" class="form-control search_icon_input" placeholder="search">
        <img alt="image" src="/assets/images/search-icon.svg" class="search_input_icon"/>
      </div> -->
      <button class="add_btn" *ngIf="commonService.checkRolePermissions('ADD_PROMO_CODES')" (click)="openForm()">
        <img alt="image" src="/assets/images/add-icon.svg" class="mr_8"/>
        <span class="font_14 fw-semi text-sec">Add Promocode</span>
      </button>
    </div>
    <!-- <div class="OutletName">Outlet Name : {{outletName}}</div> -->

    <!-- <div class="create_order_blk this_mon_blk">
      <div class="row">
        <div class="col-md-9 empty"></div>
        <div class="col-md-3 d-flex align-items-end">
          <button class="create_order_btn w-100 d-flex align-items-center justify-content-center" (click)="openForm()">
            <img src="assets/images/add-circle.svg" alt="add-circle" class="img-fluid mr_16">
            Add Promocode
          </button>
        </div>
      </div>
    </div> -->
      <div class="table-responsive" id="checkBoxes" [ngClass]="commonService.checkRolePermissions('ADD_PROMO_CODES') ? '' : 'm-0'">
        <table datatable [dtOptions]="dtOptions" *ngIf="isDataLoaded" id="example" class="buyer_table w-100 nowrap"  id="table-request">
          <thead>
            <tr>
              <th>Sl No</th>
              <th>Promocode Name</th>
              <th>Promocode</th>
              <th>Promocode Type</th>
              <th>Description</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of promocodeData; index as i">
              <td>{{i+1}}</td>
              <td>{{data.promocodeName}}</td>
              <td>{{data.promocode}}</td>
              <td>{{data.promocodeType}}</td>
              <td>{{data.description}}</td>
              <td [attr.data-order]="data.activeStatus ? 1 : 0"> 
                <mat-slide-toggle class="discount_slider_btn" color="accent" (click) = "changePromoCodeStatus(data.promocodeId,data.activeStatus)" [(ngModel)]="data.activeStatus">
                </mat-slide-toggle>
              </td>
              <td>
                <div class="d-flex align-items-center justify-content-center">
                  <img alt="image" src="/assets/images/edit-icon.svg" class="mr_14 cursor-pointer" *ngIf="commonService.checkRolePermissions('EDIT_PROMO_CODES')" (click)="edit(data.promocodeId)"/>
                  <img alt="image" src="/assets/images/view-icon.svg" class="mr_14 cursor-pointer" *ngIf="commonService.checkRolePermissions('VIEW_PROMO_CODES')" (click)="view(data.promocodeId)"/>
                  <img alt="image" src="/assets/images/delete-icon.svg" class="cursor-pointer" *ngIf="commonService.checkRolePermissions('DELETE_PROMO_CODES')" (click)="onDelete(data.promocodeId)"/>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>
