<div class="container">
  <div class="mt-2">
    <div class="OutletName float-left">Outlet Name : {{outletName}}</div>
    <div class="data-table mt-3" id="checkBoxes">
      <form>
        <div style="height:50%">
          <div class="col-md-12" style="background-color:lightgray;">
            Premium &nbsp;&nbsp;&nbsp;
            <div class="float-child">
              <button class="btn btn-orders edit" (click)="edit()"><i class="fa fa-pencil"></i></button>
            </div>
          </div>
          <div class="col-md-12">
          </div>
        </div>
        <div style="height:50%">
          <div class="col-md-12" style="background-color:lightgray;">
          </div>
          <div class="col-md-12">
          </div>
        </div>
        <div style="height:50%">
          <div class="col-md-12" style="background-color:lightgray;">
          </div>
          <div class="col-md-12">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>