@page {
  size: 2.95276in !important;
  size: portrait;
}
 /* .printMainDiv {
  width: 303px;
  margin: 10px auto;
  color: black;
  border: 1px solid black;
} */
/*
.print_header {
  text-align: center;
  font-weight: 600;
}
.print_footer {
  text-align: center;
  font-weight: 600;
}
.horizontal_line {
  border-bottom: 2px solid black;
}
.print_title {
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  padding-top: 5px;
  padding-bottom: 5px;
}
.print_body {
  border-bottom: 1px solid grey;
}
table {
  width: 100%;
  color: black;
  border-collapse: collapse;
}
table tr {
  color: black;
  border-top: 1px solid #d1d1d1;
}
table tr td {
  color: black;
  text-align: center !important;
}
.mod_li {
  color: black;
  font-size: 12px;
  text-align: left !important;
}
.mod_list_td {
  color: black;
  padding: 0px !important;
  text-align: left !important;
}
.mod_ul {
  color: black;
  margin-bottom: 0px !important;
}
.date_time {
  width: 48%;
}
.print_title_orderno {
  font-size: 16px;
  text-align: left;
  font-weight: 600;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 4rem;
} */

.mod_list_td{
    color: black;
    padding: 0px !important;
    text-align: left !important;
}
.mod_ul {
  color: black;
  margin-bottom: 0px !important;
}
.mod_li {
  color: black;
  font-size: 12px;
  text-align: left !important;
}