<div class="page_container table_details_blk">
  <h2 class="text_pri font_20 fw-semi mb_7">Settings</h2>
  <div class="d-flex align-items-start settings_nav_main_blk">
    <app-settings></app-settings>
    <div class="settings_nav_info_container">
      <div class="d-flex align-items-center justify-content-end mb_21">
        <button class="add_btn" *ngIf="commonService.checkRolePermissions('ADD_PAYMENTMODE')" (click)="openForm()">
          <img alt="image" src="/assets/images/add-icon.svg" class="mr_8" />
          <span class="font_14 fw-semi text-sec">Add Payment Mode</span>
        </button>
      </div>
      <div class="table-responsive respons_inventory_table">
        <table datatable [dtOptions]="dtOptions" *ngIf="isDataLoaded" class="nowrap buyer_table w-100"
          id="table-request">
          <thead>
            <tr>
              <th>Payment Mode</th>
              <th>Status</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of allPaymentModes; index as i">
              <td>{{item.paymentModeName}}</td>
              <td [attr.data-order]="item.activeStatus ? 1 : 0">
                <mat-slide-toggle class="discount_slider_btn" color="accent"
                  (click)="changeStatus(item.paymentModeId,item.activeStatus)" [(ngModel)]="item.activeStatus">
                </mat-slide-toggle>
              </td>
              <td>
                <div class="d-flex align-items-center justify-content-center">
                  <img alt="image" src="/assets/images/edit-icon.svg" class="mr_14 cursor-pointer"
                    *ngIf="commonService.checkRolePermissions('EDIT_PAYMENTMODE')" (click)="edit(item)" />
                  <img alt="image" src="/assets/images/delete-icon.svg" class="cursor-pointer"
                    *ngIf="commonService.checkRolePermissions('DELETE_PAYMENTMODE')"
                    (click)="onDelete(item.paymentModeId)" />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>