
    <div class="modal-header">
        <h5 *ngIf="!isUpdate" class="font_20 fw-semi text_pri mb_15" id="SKUModalLabel">Add Promocode</h5>
        <h5 *ngIf="isUpdate"  class="font_20 fw-semi text_pri mb_15" id="SKUModalLabel">Edit Promocode</h5>
        <img alt="image" src="/assets/images/modal-close-icon.svg" class="modal_close_icon cursor-pointer" (click)="closeModal()"/>
    </div>
    <div class="modal-body create_order_blk this_mon_blk form_popup" >
        <form #promocodesForm="ngForm" class="ng-invalid ng-touched ng-dirty" [formGroup]="promocodeForm">
            <div class="row modal_input_row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="font_14 fe-reg text_pri mb_5">Promocode Name<span class="required-asterisk">*</span> </label>
                  <input type="text" class="form-control" placeholder="Enter Promocode Name" formControlName="promocodeName">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="font_14 fe-reg text_pri mb_5">Promocode<span class="required-asterisk">*</span> </label>
                  <input type="text" class="form-control" placeholder="Enter Promocode" formControlName="promocode">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="font_14 fe-reg text_pri mb_5">Select Promocode Type<span class="required-asterisk">*</span> </label>
                  <div class="position-relative">
                    <select class="form-control select-control" formControlName="promocodeType">
                      <option value="Percentage">Percentage</option>
                      <option value="Amount">Amount</option>
                  </select>
                  <img  alt="image" src="/assets/images/dropdown-arrow.svg" class="select_input_arrow"></div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="font_14 fe-reg text_pri mb_5"> Promocode Value<span class="required-asterisk">*</span></label>
                  <input type="number" class="form-control" placeholder="Enter Promocode Value" formControlName="promocodeValue">
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group position-relative">
                  <label class="font_14 fe-reg text_pri mb_5">Valid UpTo </label>
                   <div class="form-group position-relative" >
                    <input type="date" class="form-control"formControlName="validUpto"/>
                   </div>
                </div>
              </div>
             
              <div class="col-md-12">
                <div class="form-group">
                  <label class="font_14 fe-reg text_pri mb_5">Description</label>
                  <textarea class="form-control" placeholder="Promocode Description" formControlName="description"></textarea>
                </div>
              </div>
            </div>
            <div class="row modal_input_row">
              <div class="col-md-6 pb_0">
                  <button class="cancel_btn" type="reset" (click)="closeModal()">Cancel</button>
                </div>
              <div class="col-md-6 pb_0">
                  <button *ngIf="isUpdate" class="btn_primary" (click)="updatePromocodeFormData(promocodesForm.value)" type="submit">Save</button>
                  <button *ngIf="!isUpdate" class="btn_primary" (click)="addPromocodeFormData()" type="submit">Save</button>
              </div>      
          </div>
        </form>
    </div>
