<div class="modal-header">
    <h5 *ngIf="editMod !== true" class="font_20 fw-semi text_pri" id="SKUModalLabel">Add Batch Item</h5>
    <h5 *ngIf="editMod == true" class="font_20 fw-semi text_pri" id="SKUModalLabel">Edit Batch Item</h5>
    <img alt="image" src="/assets/images/modal-close-icon.svg" class="modal_close_icon cursor-pointer" (click)="closeModal()"/>
  </div>
  <div class="modal-body create_order_blk this_mon_blk form_popup">
    <form class="ng-invalid ng-touched ng-dirty" [formGroup]="itemForm">
      <div class="row modal_input_row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="sel1" class="font_14 fe-reg text_pri mb_5"><span class="required-asterisk">*</span> Select Category:</label>
            <div class="position-relative">
              <select class="form-control" id="sel1" formControlName="category">
                <option *ngFor="let cat of category" value="{{cat.categoryId}}" selected>{{cat.categoryName}}</option>
              </select>
              <img alt="image" src="/assets/images/dropdown-arrow.svg" class="select_input_arrow"/>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="font_14 fe-reg text_pri mb_5"><span class="required-asterisk">*</span>Item Status</label>
            <div class="d-flex align-items-center">
              <label for="'{{'radioTrue'}}" class="mr_15">
                <input type="radio" id="{{'radioTrue'}}" class="mr_10" formControlName="isActive" [value]=true checked="checked">
                <span class="font_14 fe-reg text_pri mb_5">Activate</span>
              </label>
              <label for="{{'radioFalse'}}" >
                <input type="radio" id="{{'radioFalse'}}" class="mr_10" formControlName="isActive" [value]=false>
                <span class="font_14 fe-reg text_pri mb_5">Inactive</span>
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="font_14 fe-reg text_pri mb_5"><span class="required-asterisk">*</span> Item Name:</label>
            <input type="text" class="form-control" id="email" placeholder="Enter Item Name" formControlName="itemName">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="font_14 fe-reg text_pri mb_5"><span class="required-asterisk">*</span> Item Amount:</label>
            <input type="number" class="form-control" id="email" placeholder="Enter Item Amount" formControlName="itemAmount">
          </div>
        </div>
        <div class="col-md-">
          <div class="form-group">
            <label class="font_14 fe-reg text_pri mb_5"> Item Description:</label>
            <textarea class="form-control" placeholder="Item Description" formControlName="description"></textarea>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="font_14 fe-reg text_pri mb_5"><span class="required-asterisk">*</span> Select Unit:</label>
            <select class="form-control" id="sel1" formControlName="unit">
              <option *ngFor="let getUnit of unitList" value="{{getUnit}}" selected>{{getUnit}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
              <label class="font_14 fe-reg text_pri mb_5">Quantity :</label>
              <input id="quantity" type="number" class="form-control" placeholder="Enter Quantity" formControlName="quantity">
            </div>
        </div>
        <!-- <div class="col-md-6">
          <span class="dragBox d-flex align-items-center flex-column">
            <div class="icon" *ngIf="editMod == false || SelectedImage">
              <img alt="image" [src] = "ItemImage || 'assets/images/upload_icon.png'" [ngClass]="{'image' : ItemImage }" />
            </div>
            <div class="icon" *ngIf="editMod == true && !SelectedImage">
              <img alt="image" src = "{{BaseUrl + ItemImage}}" [ngClass]="{'image' : ItemImage }" *ngIf="ItemImage"/>
              <img alt="image" src = "assets/images/upload_icon.png" [ngClass]="{'image' : ItemImage }" *ngIf="!ItemImage"/>
            </div>
            <div class="mt-2" *ngIf="!ItemImage">Upload Image</div>
            <div class="mt-2" *ngIf="ItemImage">Change Image</div>
    
            <input type="file" (change)="dragNdrop($event)" formControlName="file" id="uploadFile" />
          </span>
      </div> -->
      </div>
      <div class="d-flex align-items-center justify-content-between mb_15" *ngIf="editMod !== true">
        <h4 class="font_16 fw-semi text_pri m-0">Select outlet</h4>
        <div class="d-flex align-items-center">
          <input type="checkbox" id="selectAll" class="remember_input mr_10" [value]="" (change)="onSelectAllboxChange($event)" />
          <label class="font_14 fe-reg text_pri m-0 remeber_label">Select All</label>
        </div>
      </div>
      <div class="add_modifier_blk d-flex align-items-center justify-content-between mb_20" *ngIf="editMod !== true">
          <div *ngFor="let outlet of resData?.outlets" class="mb_0 mod_check border-none d-flex align-items-center">
            <input type="checkbox" id="{{outlet.outletId}}" class="remember_input mr_10" [value]="outlet.outletId" (change)="onCheckboxChange($event)" />
            <label class="font_14 fe-reg text_pri m-0 remeber_label border-none">{{outlet.outletName}}</label>
          </div>
      </div>
      <div class="row modal_input_row">
        <div class="col-md-6 pb_0">
          <button class="cancel_btn"type="reset" (click)="closeModal()">Cancel</button>
        </div>
        <div class="col-md-6 pb_0">
          <button class="btn_primary" name="btn_login" (click)="addItem()">Save</button>
        </div>
      </div>
    </form>
  </div>
