<div class="main_div">
  <div class="modal-header">
    <h3 class="modal-title" style="color: rgb(26, 243, 26);" id="SKUModalLabel">{{itemDetails.ItemName}}</h3>
    <a href="javascript:void(0)" class="close" (click)="closeModal()"> <span aria-hidden="true">×</span> </a>
  </div>
  <div class="container mt-2">
    <div class="d-flex p-3">
      <div class="w-50 mr-2 text-right">
        <button id="promoBtn" class="btn btn-orders discBtn" (click)="onDiscountPromo()">Promo Code</button>
      </div>
      <div class="w-50 ml-2">
        <button id="discBtn" class="btn btn-orders discBtn" (click)="onDiscount()">Discount</button>
      </div>
    </div>
    <div *ngIf="normalDiscount == true">
      <div class="container p-2">
        <div *ngIf="normalDiscountData.length == 0">
          <h2>No Discounts</h2>
        </div>
        <ul class="list-group">
          <li *ngFor="let data of normalDiscountData" class="list-group-item">
            <label>
              <input type="radio" name="options" (click)="selctedNormalDiscount = data" (change)="normalDisc()">Discount
              Type: {{data.discountType}} - Value: {{data.discountValue}}
            </label>
          </li>
        </ul>
        <div *ngIf="showNormalForm == true" class="p-2">
          <div><b>Discount Type :</b> {{selctedNormalDiscount?.discountType}}</div>
          <div><b>Discount Value:</b> {{selctedNormalDiscount?.discountValue}}</div>
          <div><b>Discounted Amount:</b> {{selctedNormalDiscount?.discountedAmount}}</div>
          <div><b>Discount Notes:</b> {{selctedNormalDiscount?.discountNotes}}</div>
        </div>
        <div class="text-right">
          <button class="btn btn-lg btn-primary active btn-block mb-1 mt-2 mr-2" type="reset"
            (click)="closeModal()">Cancel</button>
          <button class="btn btn-lg btn-primary active action-btn btn-block mb-1" ngbAutofocus name="btn_login"
            (click)="addDiscount()">Add Discount</button>
        </div>
      </div>
    </div>
    <div *ngIf="promoDiscount == true">
      <div class="container p-2">
        <div *ngIf="promoDiscountData.length == 0" class="p-2">
          <h2>No Promocode</h2>
        </div>
        <ul class="list-group">
          <li *ngFor="let data of promoDiscountData" class="list-group-item">
            <label>
              <input type="radio" name="options" (click)="selctedPromoDiscount = data" (change)="promoDisc()">Promocode
              Name : {{data.discountName}}
            </label>
          </li>
        </ul>
        <div *ngIf="showPromoForm == true">
          <div><b>Discount Type:</b> {{selctedPromoDiscount.promocodeDiscountType}}</div>
          <div><b>Discount Value:</b> {{selctedPromoDiscount.promocodeDiscount}}</div>
          <div><b>Discounted Amount:</b> {{selctedPromoDiscount.promocodeAmount}}</div>
          <div><b>Discount Notes:</b> {{selctedPromoDiscount.discountNotes}}</div>
        </div>
        <div class="text-right">
          <button class="btn btn-lg btn-primary active btn-block mb-1 mt-2 mr-2" type="reset"
            (click)="closeModal()">Cancel</button>
          <button class="btn btn-lg btn-primary active action-btn btn-block mb-1" ngbAutofocus name="btn_login"
            (click)="addDiscount()">Add Discount</button>
        </div>
      </div>
    </div>
  </div>
</div>
