.btn-orders{
    color: white;
    font-size: 12px;
    font-weight: 600;
    height: auto;
    line-height: 14px;
    width: 90%;
}
.discBtn{
    background-color: rgb(39 184 204);
}
.discBtn:hover{
    background-color: rgb(105, 224, 240);
}
.field_1{
    width: 49%;
}