.field_1{
    width: 49%;
}
.select {
    height: 100px;
    overflow: scroll;
}
.required-asterisk{
    color: red;
    font-weight: bold;
    margin-left: 3px;
    font-size: 1.2em;
}
.modifier{
    display: flex;
    flex-wrap: wrap;
    padding-left: 5px;
    border: 1px solid #c9c7c7;
    border-radius: 5px;
}
.mod_check{
    width: auto;
    margin-right: 15px;
}

.selCheck{
    margin-top: 0px !important;
}