
<div class="modal-header">
  <h5 *ngIf="editMod !== true" class="font_20 fw-semi text_pri mb_15" id="SKUModalLabel">Add In Stock</h5>
  <h5 *ngIf="editMod == true" class="font_20 fw-semi text_pri mb_15" id="SKUModalLabel">Edit Stock</h5>
  <img alt="image" src="/assets/images/modal-close-icon.svg" class="modal_close_icon cursor-pointer" (click)="closeModal(false)"/>
</div>
<form class="ng-invalid ng-touched ng-dirty" [formGroup]="orderForm" (ngSubmit)="addSupplierOrder()">
  <div class="row modal_input_row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="font_14 fe-reg text_pri mb_5">Select Product<span class="required-asterisk">*</span></label>
        <div class="position-relative">
          <select class="form-control" id="prodId" formControlName="productId" (change)="selectItem($event)">
            <option *ngFor="let product of AllProduct" value="{{product.productId}}">
              {{product.productName}}</option>
          </select>
          <img alt="image" src="/assets/images/dropdown-arrow.svg" class="select_input_arrow">
        </div>
      </div>
    </div>
    <div class="col-md-6" *ngIf="showDropDown">
      <div  class="form-group">
        <label class="font_14 fe-reg text_pri mb_5">Select Supplier<span class="required-asterisk">*</span></label>
        <div class="position-relative">
          <select class="form-control" formControlName="supplierId">
            <option *ngFor="let supplier of supplierNotInWm" value="{{supplier.supplierId}}">
              {{supplier.supplierName}}</option>
          </select>
          <img alt="image" src="/assets/images/dropdown-arrow.svg" class="select_input_arrow">
        </div>
      </div>
    </div>
    <div class="col-md-6" *ngIf="!showDropDown">
      <div class="form-group">
        <label class="font_14 fe-reg text_pri mb_5">Supplier<span class="required-asterisk">*</span></label>
        <input type="text" class="form-control" value="{{supplierName}}" readonly>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="font_14 fe-reg text_pri mb_5">Amount</label>
        <input type="number" class="form-control" placeholder="Price" formControlName="price" readonly>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="font_14 fe-reg text_pri mb_5">Unit</label>
        <input type="text" class="form-control" placeholder="Unit" formControlName="unit" readonly>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="font_14 fe-reg text_pri mb_5">Order Quantity</label>
        <input type="number" class="form-control" placeholder="Enter Order Quantity" formControlName="quantity">
      </div>
    </div>
  </div>
  <div class="row modal_input_row">
    <div class="col-md-6 pb_0">
      <button class="cancel_btn" name="btn_login" (click)="closeModal(false)" type="reset"> Cancel</button>
    </div>
    <div class="col-md-6 pb_0">
      <button *ngIf="editMod !== true" class="btn_primary" name="btn_login" type="submit">Add Master</button>
      <button *ngIf="editMod == true" class="btn_primary" name="btn_login" type="submit">Update Master</button>
    </div>
 </div>
  <!-- <div class="pl-0 mt-4">
    <button class="btn btn-lg btn-primary active btn-block mb-1 mt-2 mr-2" type="reset" (click)="closeModal(false)">
      Cancel
    </button>
    <button *ngIf="editMod !== true" class="btn btn-lg btn-primary active action-btn btn-block mb-1" ngbAutofocus
      name="btn_login" type="submit">Add Master</button>
    <button *ngIf="editMod == true" class="btn btn-lg btn-primary active action-btn btn-block mb-1" ngbAutofocus
      name="btn_login" type="submit">Update Master</button>
  </div> -->
</form>