<div class="page_container">
  <div class="weekly_report view_order_blk white_bg">
    <div class="table_header create_order_blk this_mon_blk">
      <div class="w-100">
        <div class="OutletName">Outlet Name : {{outletName}}</div>
      </div>
    </div>

    <div class="create_order_blk this_mon_blk pt_25 ">
      <form action="">
        <div class="row">
          <div class="col-md-9 empty">
          </div>
          <div class="col-md-3 d-flex align-items-end" style="margin-top: -2% ;">
            <button class="create_order_btn w-100 d-flex align-items-center justify-content-center"
              (click)="openPointSettingPopUp(openLoyalityPointPopUp)">
              <img src="assets/images/add-circle.svg" alt="add-circle" class="img-fluid mr_16">
              Point Setting
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class=" mt-2 mb-5 w-100" id="checkBoxes">
      <div class="table-responsive">
        <table aria-describedby="desc" datatable [dtOptions]="dtOptions" *ngIf="isDataLoaded"
          class="buyer_table w-100 nowrap" id="table-request">
          <caption>Loyality Points Table</caption>
          <thead class="thead-dark">
            <tr>
              <th id="unique_name" scope="col">Sl No</th>
              <th scope="col">Customer Name</th>
              <th scope="col">Phone Number</th>
              <th scope="col">Points</th>
              <th scope="col">Converted {{this.commonService.generalSettings.currency}}</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of customerData ; let i=index">
              <td>{{i+1}}</td>
              <td>{{data?.customerName}}</td>
              <td *ngFor="let phoneNum of data?.phoneNumber">{{phoneNum?.number}}</td>
              <td *ngIf="data?.phoneNumber == null"></td>
              <td>{{data.totalPoints}}</td>
              <td>{{data.convertedAmount}}</td>
              <td class="text-center d-flex">
                <button (click)="redeemButton(data, data.customerId, i)" class="btn btn-orders edit">Redeem</button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="total_entries">
          <select class="len_per_page" (change)="changedLength($event)">
            <option value="5">5</option>
            <option value="10">10&nbsp;</option>
            <option value="20">20&nbsp;</option>
            <option value="-1">All&nbsp;</option>
          </select>
          <label>Total :</label>
          <label> {{tableListRecord.total}}</label>
        </div>
      </div>
    </div>

  </div>
  <ng-template #openLoyalityPointPopUp let-close="close">
    <div class="modal-header">
      <h5 class="modal-title" id="SKUModalLabel">Loyalty Point Settings</h5>
      <a href="javascript:void(0)" class="close" (click)="closeAction(false)"> <span aria-hidden="true">×</span> </a>
    </div>
    <form class="ng-invalid ng-touched ng-dirty" [formGroup]="loyaltyForm">
      <h3><b>Mininum amount to get point</b><span class="required-asterisk">*</span></h3>
      <div class="this_mon_blk form_popup">
        <div class="row">
          <div class="d-flex justify-content-between">
            <div class="form-group field_1 ">
              <input type="number" class="form-control" formControlName="minimumAmount"
                [readonly]="loyaltyData?.isActive == false" onkeypress="return !(event.charCode == 46)" step="1"
                type="number" [ngClass]="{'blockInput': loyaltyData?.isActive == false}"
                (keyup)="LiveMinimumAmount($event)">
            </div>
            <div class="form-group field_1">
              <label class="text">IsActive<span class="required-asterisk">*</span></label>
              <div>
                <label for="'{{'radioTrue' }}" class="mr-1" class="text">
                  <input type="radio" id="{{'radioTrue' }}" formControlName="isActive" name="isActive" [value]=true>Yes
                </label>
                <label for="{{'radioFalse' }}" class="text">
                  <input type="radio" id="{{'radioFalse' }}" formControlName="isActive" name="isActive" [value]=false>No
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class=" this_mon_blk  form_popup">
        <div class="row">
          <div class="col-md-6 d-flex align-items-center">
            <div class="form-group">
              <label class="text">Default Point<span class="required-asterisk">*</span></label>
              <input type="number" class="form-control " placeholder="Enter Point"
                onkeypress="return !(event.charCode == 46)" step="1" type="number" formControlName="defaultPoint"
                [readonly]="loyaltyData?.isActive == false" [ngClass]="{'blockInput': loyaltyData?.isActive == false}">
            </div>
            <b style="padding-left: 8%; margin-top: 6%;">=</b>
          </div>
          <div class="col-md-6 ">
            <div class="form-group ">
              <label class="text">Default Amount<span class="required-asterisk">*</span></label>
              <input type="number" class="form-control " formControlName="defaultAmount" placeholder="Enter {{this.commonService.generalSettings.currency}}"
                onkeypress="return !(event.charCode == 46)" step="1" type="number"
                [readonly]="loyaltyData?.isActive == false" [ngClass]="{'blockInput': loyaltyData?.isActive == false}">
            </div>
          </div>
        </div>
      </div>

      <h3><b>Consumption Setting</b></h3>
      <div class=" this_mon_blk  form_popup">
        <div class="row">
          <div class="col-md-6 d-flex align-items-center">
            <div class="form-group">
              <label class="text">Every Point<span class="required-asterisk">*</span></label>
              <input type="number" class="form-control " formControlName="consumptionPoint" placeholder="Enter Point"
                onkeypress="return !(event.charCode == 46)" step="1" type="number"
                [readonly]="loyaltyData?.isActive == false" [ngClass]="{'blockInput': loyaltyData?.isActive == false}">
            </div>
            <b style="padding-left: 8%; margin-top: 6%;">=</b>
          </div>
          <div class="col-md-6 ">
            <div class="form-group ">
              <label class="text">{{this.commonService.generalSettings.currency}}<span class="required-asterisk">*</span></label>
              <input type="number" class="form-control " placeholder="Enter {{this.commonService.generalSettings.currency}}"
                onkeypress="return !(event.charCode == 46)" step="1" type="number" formControlName="consumptionAmount"
                [readonly]="loyaltyData?.isActive == false" [ngClass]="{'blockInput': loyaltyData?.isActive == false}">
            </div>
          </div>
        </div>
      </div>
      <h3><b>Accumulation Setting</b></h3>

      <div class="this_mon_blk ">
        <div class="data-table w-100" id="checkBoxes">
          <div class="table-responsive">
            <table class="buyer_table w-100 dataTable no-footer nowrap">
              <caption>Loyality Points Table</caption>
              <thead class="thead-dark">
                <tr>

                  <th scope="col" class="w-10">Levels</th>
                  <th scope="col" class="w-20">From {{this.commonService.generalSettings.currency}}</th>
                  <th scope="col" class="w-20">To {{this.commonService.generalSettings.currency}}</th>
                  <th scope="col" class="w-20">Every {{this.commonService.generalSettings.currency}}</th>
                  <th scope="col" class="w-20">Point</th>
                  <th scope="col" class="w-10">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-center">Level 1</td>
                  <td class="text-center">
                    <input type="number" class="form-control" placeholder="Enter {{this.commonService.generalSettings.currency}}"
                      onkeypress="return !(event.charCode == 46)" step="1" type="number" formControlName="fromAmountOne"
                      [readonly]="loyaltyData?.isActive == false" [readonly]="editLevelOne == false "
                      [readOnly]="loyaltyData !=null" [ngClass]="{'blockInput': loyaltyData?.isActive == false}">
                  </td>
                  <td class="text-center">
                    <input type="number" class="form-control" value="" placeholder="Enter {{this.commonService.generalSettings.currency}}"
                      onkeypress="return !(event.charCode == 46)" step="1" type="number" formControlName="toAmountOne"
                      [readonly]="loyaltyData?.isActive == false" [readonly]="editLevelOne == false"
                      [readOnly]="loyaltyData !=null" [ngClass]="{'blockInput': loyaltyData?.isActive == false}">
                  </td>
                  <td class="text-center">
                    <input type="number" class="form-control" value="" placeholder="Enter {{this.commonService.generalSettings.currency}}"
                      onkeypress="return !(event.charCode == 46)" step="1" type="number" formControlName="amountOne"
                      [readonly]="loyaltyData?.isActive == false" [readonly]="editLevelOne == false"
                      [readOnly]="loyaltyData !=null" [ngClass]="{'blockInput': loyaltyData?.isActive == false}">
                  </td>
                  <td class="text-center">
                    <input type="number" class="form-control" value="" placeholder="Enter Points"
                      onkeypress="return !(event.charCode == 46)" step="1" type="number" formControlName="pointOne"
                      [readonly]="loyaltyData?.isActive == false" [readonly]="editLevelOne == false"
                      [readOnly]="loyaltyData !=null" [ngClass]="{'blockInput': loyaltyData?.isActive == false}">
                  </td>
                  <td class="text-center" *ngIf="editLevelOne == false">
                    <button class="btn btn-orders edit" (click)="editLevels(1)">Edit</button>
                  </td>
                  <td class="text-center" *ngIf="editLevelOne == true">
                    <button class="btn btn-orders edit" (click)="save(1)">Save</button>
                  </td>
                </tr>

                <tr>
                  <td class="text-center">Level 2</td>
                  <td class="text-center">
                    <input type="number" class="form-control" placeholder="Enter {{this.commonService.generalSettings.currency}}"
                      onkeypress="return !(event.charCode == 46)" step="1" type="number" formControlName="fromAmountTwo"
                      [readonly]="loyaltyData?.isActive == false" [readonly]="editLevelTwo == false"
                      [readOnly]="loyaltyData !=null" [ngClass]="{'blockInput': loyaltyData?.isActive == false}">
                  </td>
                  <td class="text-center">
                    <input type="number" class="form-control" value="" placeholder="Enter {{this.commonService.generalSettings.currency}}"
                      onkeypress="return !(event.charCode == 46)" step="1" type="number" formControlName="toAmountTwo"
                      [readonly]="loyaltyData?.isActive == false" [readonly]="editLevelTwo == false"
                      [readOnly]="loyaltyData !=null" [ngClass]="{'blockInput': loyaltyData?.isActive == false}">
                  </td>
                  <td class="text-center">
                    <input type="number" class="form-control" value="" placeholder="Enter {{this.commonService.generalSettings.currency}}"
                      onkeypress="return !(event.charCode == 46)" step="1" type="number"
                      [readonly]="loyaltyData?.isActive == false" [readonly]="editLevelTwo == false"
                      formControlName="amountTwo" [readOnly]="loyaltyData !=null"
                      [ngClass]="{'blockInput': loyaltyData?.isActive == false}">
                  </td>
                  <td class="text-center">
                    <input type="number" class="form-control" value="" placeholder="Enter Points"
                      onkeypress="return !(event.charCode == 46)" step="1" type="number" formControlName="pointTwo"
                      [readonly]="loyaltyData?.isActive == false" [readonly]="editLevelTwo == false"
                      [readOnly]="loyaltyData !=null" [ngClass]="{'blockInput': loyaltyData?.isActive == false}">
                  </td>
                  <td class="text-center" *ngIf="editLevelTwo == false">
                    <button class="btn btn-orders edit" (click)="editLevels(2)">Edit</button>
                  </td>
                  <td class="text-center" *ngIf="editLevelTwo == true">
                    <button class="btn btn-orders edit" (click)="save(2)">Save</button>
                  </td>
                </tr>

                <tr>
                  <td class="text-center">Level 3</td>
                  <td class="text-center">
                    <input type="number" class="form-control" placeholder="Enter {{this.commonService.generalSettings.currency}}"
                      onkeypress="return !(event.charCode == 46)" step="1" type="number"
                      formControlName="fromAmountThree" [readonly]="loyaltyData?.isActive == false"
                      [readonly]="editLevelThree == false" [readOnly]="loyaltyData !=null"
                      [ngClass]="{'blockInput': loyaltyData?.isActive == false}">
                  </td>
                  <td class="text-center">
                    <input type="number" class="form-control" value="" placeholder="Enter {{this.commonService.generalSettings.currency}}"
                      onkeypress="return !(event.charCode == 46)" step="1" type="number" formControlName="toAmountThree"
                      [readonly]="loyaltyData?.isActive == false" [readonly]="editLevelThree == false"
                      [readOnly]="loyaltyData !=null" [ngClass]="{'blockInput': loyaltyData?.isActive == false}">
                  </td>
                  <td class="text-center">
                    <input type="number" class="form-control" value="" placeholder="Enter {{this.commonService.generalSettings.currency}}"
                      onkeypress="return !(event.charCode == 46)" step="1" type="number"
                      [readonly]="loyaltyData?.isActive == false" [readonly]="editLevelThree == false"
                      [readOnly]="loyaltyData !=null" formControlName="amountThree"
                      [ngClass]="{'blockInput': loyaltyData?.isActive == false}">
                  </td>
                  <td class="text-center">
                    <input type="number" class="form-control" value="" placeholder="Enter Points"
                      onkeypress="return !(event.charCode == 46)" step="1" type="number" formControlName="pointThree"
                      [readonly]="loyaltyData?.isActive == false" [readonly]="editLevelThree == false"
                      [readOnly]="loyaltyData !=null" [ngClass]="{'blockInput': loyaltyData?.isActive == false}">
                  </td>
                  <td class="text-center" *ngIf="editLevelThree == false">
                    <button class="btn btn-orders edit" (click)="editLevels(3)">Edit</button>
                  </td>
                  <td class="text-center" *ngIf="editLevelThree == true">
                    <button class="btn btn-orders edit" (click)="save(3)">Save</button>
                  </td>
                </tr>

                <tr>
                  <td class="text-center">Level 4</td>
                  <td class="text-center">
                    <input type="number" class="form-control" placeholder="Enter {{this.commonService.generalSettings.currency}}"
                      onkeypress="return !(event.charCode == 46)" step="1" type="number"
                      formControlName="fromAmountFour" [readonly]="loyaltyData?.isActive == false"
                      [readonly]="editLevelFour == false" [readOnly]="loyaltyData !=null"
                      [ngClass]="{'blockInput': loyaltyData?.isActive == false}">
                  </td>
                  <td class="text-center">
                    <input type="number" class="form-control" value="" placeholder="Enter {{this.commonService.generalSettings.currency}}"
                      onkeypress="return !(event.charCode == 46)" step="1" type="number" formControlName="toAmountFour"
                      [readonly]="loyaltyData?.isActive == false" [readonly]="editLevelFour == false"
                      [readOnly]="loyaltyData !=null" [ngClass]="{'blockInput': loyaltyData?.isActive == false}">
                  </td>
                  <td class="text-center">
                    <input type="number" class="form-control" value="" placeholder="Enter {{this.commonService.generalSettings.currency}}"
                      onkeypress="return !(event.charCode == 46)" step="1" type="number"
                      [readonly]="loyaltyData?.isActive == false" [readonly]="editLevelFour == false"
                      [readOnly]="loyaltyData !=null" formControlName="amountFour"
                      [ngClass]="{'blockInput': loyaltyData?.isActive == false}">
                  </td>
                  <td class="text-center">
                    <input type="number" class="form-control" value="" placeholder="Enter Points"
                      onkeypress="return !(event.charCode == 46)" step="1" type="number" formControlName="pointFour"
                      [readonly]="loyaltyData?.isActive == false" [readonly]="editLevelFour == false"
                      [readOnly]="loyaltyData !=null" [ngClass]="{'blockInput': loyaltyData?.isActive == false}">
                  </td>
                  <td class="text-center" *ngIf="editLevelFour == false">
                    <button class="btn btn-orders edit" (click)="editLevels(4)">Edit</button>
                  </td>
                  <td class="text-center" *ngIf="editLevelFour == true">
                    <button class="btn btn-orders edit" (click)="save(4)">Save</button>
                  </td>
                </tr>

                <tr>
                  <td class="text-center">Level 5</td>
                  <td class="text-center">
                    <input type="number" class="form-control" placeholder="Enter {{this.commonService.generalSettings.currency}}"
                      onkeypress="return !(event.charCode == 46)" step="1" type="number"
                      formControlName="fromAmountFive" [readonly]="loyaltyData?.isActive == false"
                      [readonly]="editLevelFive == false" [readOnly]="loyaltyData !=null"
                      [ngClass]="{'blockInput': loyaltyData?.isActive == false}">
                  </td>
                  <td class="text-center">
                    <input type="number" class="form-control" value="" placeholder="Enter {{this.commonService.generalSettings.currency}}"
                      onkeypress="return !(event.charCode == 46)" step="1" type="number" formControlName="toAmountFive"
                      [readonly]="loyaltyData?.isActive == false" [readonly]="editLevelFive == false"
                      [readOnly]="loyaltyData !=null" [ngClass]="{'blockInput': loyaltyData?.isActive == false}">
                  </td>
                  <td class="text-center">
                    <input type="number" class="form-control" value="" placeholder="Enter {{this.commonService.generalSettings.currency}}"
                      onkeypress="return !(event.charCode == 46)" step="1" type="number" formControlName="amountFive"
                      [readonly]="loyaltyData?.isActive == false" [readonly]="editLevelFive == false"
                      [readOnly]="loyaltyData !=null" [ngClass]="{'blockInput': loyaltyData?.isActive == false}">
                  </td>
                  <td class="text-center">
                    <input type="number" class="form-control" value="" placeholder="Enter Points"
                      onkeypress="return !(event.charCode == 46)" step="1" type="number" formControlName="pointFive"
                      [readonly]="loyaltyData?.isActive == false" [readonly]="editLevelFive == false"
                      [readOnly]="loyaltyData !=null" [ngClass]="{'blockInput': loyaltyData?.isActive == false}">
                  </td>
                  <td class="text-center" *ngIf="editLevelFive == false">
                    <button class="btn btn-orders edit" (click)="editLevels(5)">Edit</button>
                  </td>
                  <td class="text-center" *ngIf="editLevelFive == true">
                    <button class="btn btn-orders edit" (click)="save(5)">Save</button>
                  </td>
                </tr>
              </tbody>
            </table><br>
          </div>
        </div>
      </div>
      <div class="pl-0 mt-4 text-right">
        <button class="btn btn-lg btn-primary active btn-block mb-1 mt-2 mr-2" type="reset"
          (click)="closeAction(false)">Cancel</button>
        <button class="btn btn-lg btn-primary active action-btn btn-block mb-1" ngbAutofocus name="btn_login"
          (click)="SavePointSetting()">Save</button>
      </div>
    </form>
  </ng-template>
</div>
