<div class="page_container">
  <h2 class="text_pri font_20 fw-semi mb_15">Orders</h2> 
  <ul class="p-0 mb_7 d-flex align-items-center order_nav_blk">
    <li class="mr_6" *ngIf="commonService.checkRolePermissions('LIST_DINE_IN')"><a class="active" routerLink="/pos-dashboard/dine-in">Dine In</a></li>
    <li class="mr_6" *ngIf="commonService.checkRolePermissions('LIST_ONLINE')"><a routerLink="/pos-dashboard/online">Online</a></li>
    <li class="mr_6" *ngIf="commonService.checkRolePermissions('LIST_TAKEAWAY')"><a routerLink="/pos-dashboard/walk-in">Take Away</a></li>
  </ul>
  <div class="order_info_blk">
    <div class="order_sub_nav_blk">
      <ul class="d-flex align-items-center nav_tabs_ul p-0 m-0" id="myTab" role="tablist">
        <li>
          <a routerLink="/pos-dashboard/dine-in" *ngIf="commonService.checkRolePermissions('ALL_TABLES')">All Tables</a>
        </li>
        <li role="presentation"
          *ngIf="commonService.checkRolePermissions('DINEIN_RUNNING_ORDERS')">
          <a routerLink="/pos-dashboard/dine-in/running-order">
            Running Orders
          </a>
        </li>
        <li role="presentation"
          *ngIf="commonService.checkRolePermissions('DINEIN_COMPLETED_ORDERS')">
          <a class="active" routerLink="/pos-dashboard/dine-in/completed-order">
            Completed Orders
          </a>
        </li>
        <!-- <li role="presentation">
          <a routerLink="/pos-dashboard/dine-in/order-history">
            Order History
          </a>
        </li> -->
        <li role="presentation"
          *ngIf="commonService.checkRolePermissions('DINEIN_VOIDED_ORDERS')">
          <a routerLink="/pos-dashboard/dine-in/voided-order">
            Voided Orders
          </a>
        </li>
      </ul>
    </div>
    
  <div class="order_info_container">
    <!-- <div class="table_header mb_20 create_order_blk this_mon_blk">
      <div class="w-100">
        <div class="OutletName">Outlet Name : {{outletName}}</div>
      </div>
    </div> -->
    <!-- <ul class="nav nav-tabs d-flex flex-wrap align-items-center nav_tabs_ul p-0 mb_20" id="myTab" role="tablist">
      <li>
        <a routerLink="/pos-dashboard/dine-in">All Tables</a>
      </li>
      <li role="presentation">
        <a routerLink="/pos-dashboard/dine-in/running-order">
          Running Orders
        </a>
      </li>
      <li role="presentation">
        <a class="active" routerLink="/pos-dashboard/dine-in/completed-order">
          Completed Orders
        </a>
      </li>
      <li role="presentation">
        <a routerLink="/pos-dashboard/dine-in/order-history">
          Order History
        </a>
      </li>
      <li role="presentation">
        <a routerLink="/pos-dashboard/dine-in/voided-order">
          Voided Orders
        </a>
      </li>
    </ul> -->
    <!-- <div>* By default past one week data shown below rest can be seen in Order History</div> -->
    <!-- <div class="total_value"><b>Total Value :</b> {{count.toFixed(2)}}</div> -->
    <div class="row mb_20 dt_table_cust_filter_align">
      <div class="col-md-3">
        <label class="font_12 fw-med text_pri"  >Start Date</label>
        <input type="date" class="form-control" [(ngModel)]="StartDate" [max]="EndDate"/>
      </div>
      <div class="col-md-3">
        <label class="font_12 fw-med text_pri">End Date</label>
        <input type="date" class="form-control" [(ngModel)]="EndDate" [max]="Currentdate"/>
      </div>
      <div class="col-md-2 d-flex align-items-end">
        <div class="form-group d-flex align-items-center">
          <button class="filter_button mr_15" name="btn_login" type="button">
            <img alt="image" src="/assets/images/filter-icon.svg" (click)="OnClickFilter()"/>
          </button>
          <button class="table_reset_btn reset_btn">
            <img alt="image" src="/assets/images/reset-icon.svg" (click)="OnRefresh()"/>
          </button>
        </div>
      </div>
    </div>  
    <div class="table-responsive" id="checkBoxes">
        <table aria-describedby="desc" datatable [dtOptions]="dtOptions" *ngIf="isDataLoaded"
          class="buyer_table w-100 nowrap" id="table-request">
          <thead class="thead-dark">
            <tr>
              <th>Table Number</th>
              <th>Order Number</th>
              <th>Amount</th>
              <th>Status</th>
              <th>Created on</th>
              <th>Created By</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of orders; let i=index">
              <td><span *ngFor="let num of data.items | slice:0:1; let isLast=last">{{num.tableNo}}</span> </td>
              <td>{{data.orderNo}}</td>
              <td>{{data.total | number:'1.2-2'}}</td>
              <td>
                <div class="d-flex align-items-center order_completed_status"
                [ngStyle]="hasOverPreparedItems(data) ? {'background-color': '#ffcccc', 'color': 'red', 'border': '1px solid red'} : {}">
                <img alt="image" src="/assets/images/order-completed-icon.svg" class="mr_5" />
                {{data.orderStatus}}
              </div>  
              </td>
              <td>{{data.createdOn | date: 'yyyy-MM-dd HH:mm'}}</td>
              <td>{{data.createdByName}}</td>
              <td>
                <div class="d-flex align-items-center justify-content-center">
                  <img alt="image" src="/assets/images/view-icon.svg" class="mr_14 cursor-pointer"  (click)="orderDetails(data.orderId)"/>
                  <!-- <button class="btn btn-orders edit" (click)="orderDetails(data.orderId)">View</button> -->
                  <!-- <img alt="image" src="/assets/images/edit-icon.svg" class="mr_14 cursor-pointer" (click)="EditPaymentFunc(data)"/> -->
                  <!-- <img alt="image" src="/assets/images/printer-icon.svg" (click)="print(data.orderId)"> -->
                  <button class="btn btn-orders edit mr_14" (click)="print(data.orderId)">Print</button>
                  <!-- <button *ngIf="isCompanyAdmin" class="btn btn-orders edit" (click)="addEvent(voidpassword,data.orderId,i)">Void Order</button> -->
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- <div class="total_entries">
          <select class="len_per_page" (change)="changedLength($event)">
            <option value="5">5</option>
            <option value="10">10&nbsp;</option>
            <option value="20">20&nbsp;</option>
            <option value="-1">All&nbsp;</option>
          </select>
          <label>Total :</label>
          <label> {{tableListRecord.total}}</label>
        </div> -->
      </div>
  </div>
</div>

  <!-- pop-up for void order -->
  <ng-template #voidpassword let-close="close">
    <div>
      <div class="modal-body p_0">
        <div class="modal-header edit_popup p_30">

          <h2 style="margin-left: 2px;">Void Password</h2>
          <button type="button" #closebutton class="close" (click)="closeAction()">
            <span aria-hidden="true">×</span>
          </button>
        </div>

        <div class="cleartable-input">

          <div class="col-sm-12 form-group">
            <label>Enter Password :</label>
            <input type="text" class="form-control form-design" (keyup)="Password($event)"
              placeholder="Enter Password" />
            <span *ngIf="!isCorrectPass" style="color: red;">Password is Incorrect</span>
          </div>
        </div>

        <div class="pl-0 mt-4 text-right">
          <div class="form-group edit_popup_button">
            <button class="btn btn-lg btn-primary active btn-block m-0" type="reset" (click)="closeAction()">
              Cancel
            </button>
            <button class="btn btn-lg btn-primary active action-btn btn-block my-0 mr_16" (click)="voidOrder()"
              style="margin-left: 5px; ">
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
