<div class="page_container">
  <h2 class="text_pri font_20 fw-semi mb_15">Menu</h2>
  <div class="order_info_blk order_info_container bg_white border-bottom-lightgrey">
    <div class="row align-items-end respons_menu_row_align">
      <div class="col-md-4 d-flex align-items-end">
        <div class="menu_select_input mr_15">
          <label class="font_14 fe-reg text_pri mb_5">Select Category</label>
          <div class="position-relative">
            <select class="form-control" formControlName="CategoryIdList" (change)="selectCategory($event)"
              name="filterSearchBox">
              <option disabled>None</option>
              <option *ngFor="let cat of categoryList" value="{{cat.categoryName}}">{{cat.categoryName}}
              </option>
            </select>
            <img alt="image" src="/assets/images/dropdown-arrow.svg" class="select_input_arrow">
          </div>
        </div>
        <button class="table_reset_btn reset_btn" (click)="clearCategory()">
          <img alt="image" src="/assets/images/reset-icon.svg">
        </button>
      </div>
      <div class="col-md-8 d-flex align-items-center justify-content-end respons_btns_alignment">
       
        <button class="export_btn d-flex align-items-center" *ngIf="commonService.checkRolePermissions('ADD_ITEM')"
          (click)="openForm()">
          <img alt="image" src="/assets/images/add-icon.svg" class="mr_8">
          <span class="font_14 fw-semi text-sec">Add Item</span>
        </button>
      </div>
    </div>
  </div>
  <div class="order_info_blk order_info_container floor_container">
    <div class="position-relative">
      <div class="position-relative menu_filter_input">
        <select class="form-control" (change)="OnSelectFilter()" [(ngModel)]="SelectedFilter">
          <option disabled>select</option>
          <option>All items</option>
          <option>Pending items</option>
        </select>
        <img alt="image" src="/assets/images/dropdown-arrow.svg" class="select_input_arrow">
      </div>
    <div class="table-responsive">
      <table aria-describedby="desc" datatable [dtOptions]="dtOptions" *ngIf="isDataLoaded && showButton == true">
        <thead>
          <tr>
            <th scope="col">Category Name</th>
            <th scope="col">Item Name</th>
            <th scope="col">Item price</th>
            <th scope="col"> Preparing Time(MIN)</th>
            <!-- <th scope="col">Description</th> -->
            <th scope="col"></th>
            <th>Status</th>
            <th scope="col" class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of allItems; let i=index">
            <td>{{item.categoryName}}</td>
            <td>
              <div class="position-relative">
                <span class="menu_green_dot" *ngIf="item.isApproved==false"></span>
                {{item.itemName}}
              </div>
          </td>
            <td>{{item.itemAmount}}</td>
            <td>{{item.preparingTime}}</td>
           

            <td>
              <div class="d-flex align-items-center justify-content-center">
                
                  
                </div>
              </td>
              <td>
                <mat-slide-toggle class="discount_slider_btn" color="accent"
                  (click)="changeItemStatus(item.id,item.isActive)" [(ngModel)]="item.isActive">
                </mat-slide-toggle>
              </td>
              <td>
                <div class="d-flex align-items-center justify-content-center">
                  <img alt="image" src="/assets/images/edit-icon.svg" class="mr_14 cursor-pointer"
                    *ngIf="commonService.checkRolePermissions('EDIT_MENU')" (click)="edit(item.id)" />
                  <img alt="image" src="/assets/images/view-icon.svg" class="mr_14 cursor-pointer"
                    *ngIf="commonService.checkRolePermissions('VIEW_MENU')" (click)="view(item.id)" />
                  <img alt="image" src="/assets/images/delete-icon.svg" class="cursor-pointer"
                    *ngIf="commonService.checkRolePermissions('DELETE_MENU')" (click)="onDelete(item.id)" />
                </div>
                
              </td>
            </tr>
          </tbody>
        </table>

        <table *ngIf="showButton == false" class="buyer_table w-100">
          <thead>
            <tr>
              <th scope="col">
                <div class="d-flex align-items-start">
                  <input type="checkbox" id="selectAll" class="mr_5" (change)="selectsAll($event)" />
                  Select All
                </div>
              </th>
              <th scope="col">Category Name</th>
              <th scope="col">Item Name</th>
              <th scope="col">Item Amount</th>
              <th scope="col">Status</th>
              <th></th>
              <th scope="col" class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of allItems; let i=index">
              <td><input type="checkbox" id="{{item.id}}" (change)="selectIndividual($event)"></td>
              <td>{{item.categoryName}}</td>
              <td>{{item.itemName}}</td>
              <td>{{item.itemAmount}}</td>
              <td *ngIf="item.isActive ==true">Active</td>
              <td *ngIf="item.isActive ==false">Inactive</td>
              <td>
                <div class="d-flex align-items-center justify-content-center">

                  <div class="d-flex align-items-center cursor-pointer mr_14">
                    <img alt="image" src="/assets/images/add-icon.svg" class="mr_5">
                    <span class="font_14 fw-med text_sec"> Add Discount</span>
                  </div>
                </div>
              </td>
              <td>
                <div class="d-flex align-items-center justify-content-center">
                  <img alt="image" src="/assets/images/edit-icon.svg" class="mr_14 cursor-pointer"
                    (click)="edit(item.id)" />
                  <img alt="image" src="/assets/images/view-icon.svg" class="mr_14 cursor-pointer"
                    (click)="view(item.id)" />
                  <img alt="image" src="/assets/images/delete-icon.svg" class="cursor-pointer"
                    (click)="onDelete(item.id)" />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        
      </div>
    </div>
  </div>
  
  

</div>