<div class="page_container">
  <h2 class="text_pri font_20 fw-semi mb_15">Inventory</h2>
  <div class="d-flex align-items-end justify-content-between">
    <ul class="p-0 mb_7 d-flex align-items-center order_nav_blk">
      <li class="mr_6" *ngIf="commonService.checkRolePermissions('LIST_STOCK')"><a routerLink="/pos-dashboard/Inventory" class="active">Stock</a></li>
      <li class="mr_6" *ngIf="commonService.checkRolePermissions('LIST_PRODUCT')" ><a routerLink="/pos-dashboard/Inventory/product">Product</a></li>
      <li class="mr_6" *ngIf="commonService.checkRolePermissions('LIST_SUPPLIER')"><a routerLink="/pos-dashboard/Inventory/supplier">Supplier</a></li>
      <li class="mr_6" *ngIf="commonService.checkRolePermissions('LIST_SUPPLIER_ORDER')"><a routerLink="/pos-dashboard/Inventory/supplier-order">Supplier Orders</a></li>
      <li class="mr_6" *ngIf="commonService.checkRolePermissions('LIST_BATCH_ITEM')"><a routerLink="/pos-dashboard/Inventory/batch-item">Batch Item</a></li>
    </ul> 
    <div class="d-flex align-items-center mb_12" *ngIf="commonService.checkRolePermissions('ADD_STOCK')">
      <img alt="image" src="/assets/images/add-icon.svg" class="mr_5">
      <span class="font_16 fw-semi text-underline text-sec cursor-pointer respons_wmax_content" (click)="openForm('true',null)">Add Stock</span>
    </div>
  </div>
  
  <div class="order_info_blk order_info_container floor_container inventory_info_blk">
    <!-- <div class="table_header mb_20 create_order_blk this_mon_blk">
      <div class="w-100">
        <div class="OutletName">Outlet Name : {{outletName}}</div>
      </div>
      <div class="col-md-3 d-flex align-items-end">
        <button class="create_order_btn w-100 d-flex align-items-center justify-content-center"
          (click)="openForm('true',null)">
          <img src="assets/images/add-circle.svg" alt="add-circle" class="img-fluid mr_16">
          Add Stock
        </button>
      </div>
    </div> -->
    <!-- <div class="d-flex align-items-center justify-content-end mb_20"> -->
      <!-- <ul class="nav nav-tabs d-flex flex-wrap align-items-center nav_tabs_ul p-0 m-0" id="myTab" role="tablist"> -->
        <!-- <li role="presentation">
          <a class="active" routerLink="/pos-dashboard/Inventory">
            Stock
          </a>
        </li>
        <li role="presentation">
          <a routerLink="/pos-dashboard/Inventory/product">
            Product
          </a>
        </li>
        <li role="presentation">
          <a routerLink="/pos-dashboard/Inventory/supplier">
            Supplier
          </a>
        </li>
        <li role="presentation">
          <a routerLink="/pos-dashboard/Inventory/supplier-order">
            Supplier Orders
          </a>
        </li>
        <li role="presentation">
          <a routerLink="/pos-dashboard/Inventory/batch-item">
            Batch Item
          </a>
        </li> -->
    
      <!-- </ul> -->
      
    <!-- </div> -->


      <div class="d-flex justify-content-end align-items-center export_blk">
        <button class="export_btn mr_15 d-flex align-items-center" *ngIf="commonService.checkRolePermissions('EXPORT_STOCK')" (click)="exportPopUp(openExportPopUp)">
          <img alt="image" src="/assets/images/export-icon.svg" class="mr_8">
          <span class="font_14 fw-semi text-sec">Export</span>
        </button>
      <button *ngIf="commonService.checkRolePermissions('RECONSILE_STOCK')" (click)="openReconsilePopUp()" class="export_btn font_14 fw-semi text-sec">Reconcile Stock</button>
    </div>
      <div class="table-responsive respons_inventory_table" id="checkBoxes">
        
        <table aria-describedby="desc" datatable [dtOptions]="dtOptions" *ngIf="dataLoaded"
          class="buyer_table w-100 nowrap" id="table-request">
          <thead class="thead-dark">
            <tr>
              <th id="unique_name" scope="col">Sl No</th>
              <th id="unique_name" scope="col">Product Name</th>
              <th id="status_name" scope="col">Supplier Name</th>
              <th id="order_unique_name" scope="col">Price</th>
              <th id="buyer_company_name" scope="col">Unit</th>
              <th id="buyer_company_name" scope="col">Quantity(In-Hand)</th>
              <th id="buyer_company_name" scope="col">Actual Quantity</th>
              <th id="unique_name" scope="col">Critical Quantity</th>
              <th id="unique_name" scope="col">Order Quantity</th>
              <th id="unique_name" scope="col">Created On</th>
              <th id="unique_name" scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of AllMasterData; let i=index">
              <td>{{i+1}}</td>
              <td>{{data.productName}}</td>
              <td>{{data.supplierName}}</td>
              <td>{{data.price}}</td>
              <td>{{data.unit}}</td>
              <td>{{data.quantity}}</td>
              <td>{{data.actualQuantity}}</td>
              <td>{{data.criticalQuantity}}</td>
              <td>{{data.orderQuantity}}</td>
              <td>{{data.createdOn | date: 'dd/MM/yyyy'}}</td>
              <td>
                <div class="d-flex align-items-center">
                  <img *ngIf="commonService.checkRolePermissions('EDIT_STOCK')" alt="image" src="/assets/images/edit-icon.svg" class="mr_14 cursor-pointer" (click)="openForm('false',data._id)"/>
                  <img *ngIf="commonService.checkRolePermissions('DELETE_STOCK')" alt="image" src="/assets/images/delete-icon.svg" class="cursor-pointer" (click)="Delete(data._id)"/>
                  <!-- <button (click)="openForm('false',data._id)" class="btn btn-orders edit">Edit</button>
                  <button class="btn btn-orders edit" (click)="Delete(data._id)">Delete</button> -->
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- <div class="total_entries">
          <select class="len_per_page" (change)="changedLength($event)">
            <option value="5">5</option>
            <option value="10">10&nbsp;</option>
            <option value="20">20&nbsp;</option>
            <option value="-1">All&nbsp;</option>
          </select>
          <label>Total :</label>
          <label> {{tableListRecord.total}}</label>
        </div> -->
      </div>
  </div>
  <ng-template #openExportPopUp let-close="close">
        <div class="modal-header">
          <h2 class="font_20 fw-semi text_pri mb_15">Select options to export</h2>
          <img alt="image" src="/assets/images/modal-close-icon.svg" class="modal_close_icon cursor-pointer" #closebutton (click)="closeAction()"/>
        </div>
        <div class="modal-body">
            <div class="row modal_input_row ">
              <div class="col-md-6" *ngFor="let data of InventoryStock">
                <div class="form-group">
                  <div class="role_switch_container d-flex align-items-center justify-content-between">
                    <span for="flexSwitchCheckDefault" class="font_14 fe-reg text_pri m-0">{{data}}</span>
                    <label class="switch">
                      <input type="checkbox" id={{data}} [value]="data" (change)="onCheckboxChange($event)"/>
                      <span class="slider round"></span>
                    </label>
                  </div>
                </div>
              </div>
              <!-- <div *ngFor="let data of InventoryStock" class="w-50 d-flex align-items-center mb_10">
                <input type="checkbox" id={{data}} [value]="data" (change)="onCheckboxChange($event)" />
                <label class="m-0 pl_5 remeber_label">{{data}}</label>
              </div> -->
            </div>
            <div class="row modal_input_row">
              <div class="col-md-6 pb_0">
                  <button class="cancel_btn" name="btn_login" (click)="closeAction()" type="reset">Cancel</button>
              </div>
              <div class="col-md-6 pb_0">
                <button  class="btn_primary" name="btn_login" type="submit" (click)="downloadFile()">Export</button>
              </div>
            </div>
        </div>
        <!-- <div class="pl-0 mt-4 text-right">
          <div class="form-group edit_popup_button">
            <button class="btn btn-lg btn-primary active btn-block m-0" type="reset" (click)="closeAction()">
              Cancel
            </button>

            <button class="btn btn-lg btn-primary active action-btn btn-block my-0 mr_16" style="margin-left: 5px;"
              (click)="downloadFile()"> Export</button>
          </div>
        </div> -->
  </ng-template>
</div>
