
<div class="modal-header">
    <h5 class="font_20 fw-semi text_pri mb_15" id="SKUModalLabel">Add Modifier for {{itemData?.itemName}}</h5>
    <img alt="image" src="/assets/images/modal-close-icon.svg" class="modal_close_icon cursor-pointer" (click)="closeModal()"/>
</div>
<!-- <div class="w-100 mt-2"> -->
    <!-- <h5 class="modal-title" id="SKUModalLabel">Item Id : {{itemData?.id}}</h5> -->
<!-- </div> -->
<div class="position-relative w-50 mb_20">
    <input type="text" placeholder="search" class="form-control search_icon_input" placeholder="Search Modifier Group Name" [(ngModel)]="searchInput" (ngModelChange)="search()">
    <img alt="image" src="/assets/images/search-icon.svg" class="search_input_icon">
</div>
    <!-- <input type="text" class="form-control" placeholder="Search Modifier Group Name" [(ngModel)]="searchInput" (ngModelChange)="search()"> -->
<div class="table-responsive mb_20" id="checkBoxes">
    <table id="example" class="m-0" id="table-request">
        <thead class="thead-dark">
            <tr>
                <th>Select</th>
                <th>Modifier Group</th>
                <!-- <th>View</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let mod of mods; let i=index">
                <td><input type="checkbox" id="{{mod.id}}" [value]="mod.id"  (change)="select($event)"></td>
                <td>{{mod.groupName}}</td>
                <!-- <td><img alt="image" src="/assets/images/view-icon.svg" class="mr_14 cursor-pointer" (click)="view(mod.id)"/></td> -->
            </tr>
        </tbody>
    </table>
</div>
<!-- <ul *ngIf="pager.pages && pager.pages.length"
        class="pagination">
    <label class="list-totalrecords">Total Records: {{totalRows}}</label>
    <li [ngClass]="{disabled:pageNumber === 1}">
        <a *ngIf="pageNumber === 1; else elseFirst"> First</a>
        <ng-template #elseFirst>
            <a (click)="setPage(1)">First</a>
        </ng-template>
    </li>
    <li [ngClass]="{disabled:pageNumber === 1}">
        <a *ngIf="pageNumber === 1; else elsePrevious"> Previous</a>
        <ng-template #elsePrevious>
            <a (click)="setPage(pageNumber - 1)"> Previous</a>
        </ng-template>
    </li>
    <li *ngFor="let page of pager.pages" [ngClass]="{active: pageNumber === page}">
        <a (click)="setPage(page)">{{page}}</a>
    </li>
    <li [ngClass]="{disabled:pageNumber === pager.totalPages}">
        <a *ngIf="pageNumber === pager.totalPages; else elseNext">Next</a>
        <ng-template #elseNext>
            <a (click)="setPage(pageNumber + 1)">Next</a>
        </ng-template>
    </li>
    <li [ngClass]="{disabled:pageNumber === pager.totalPages}">
        <a *ngIf="pageNumber === pager.totalPages; else elseLast">Last</a>
        <ng-template #elseLast>
            <a (click)="setPage(pager.totalPages)">Last</a>
        </ng-template>
    </li>
</ul> -->
<div class="row modal_input_row">
    <div class="col-md-6 pb_0">
        <button class="cancel_btn" name="btn_login" (click)="closeModal()" type="reset">
            Cancel
        </button>
    </div>
    <div class="col-md-6 pb_0">
        <button  class="btn_primary" name="btn_login" type="submit" (click)="add()">Save</button>
    </div>
</div>
    <!-- <div class="pl-0 mt-4 text-right">
        <button class="btn btn-lg btn-primary active btn-block mb-1 mt-2 mr-2" type="reset"
            (click)="closeModal()">Cancel</button>
        <button class="btn btn-lg btn-primary active action-btn btn-block mb-1" ngbAutofocus name="btn_login"
            type="submit" (click)="add()">Save</button>
    </div> -->
