.tableCards{ 
  display: flex;
  flex-wrap: wrap;
  padding: 10px 10px 10px 10px;
}
.tableCards > .row > * {
  padding: 0;
}
.tableColor2{
  background-color: #29b329;
}
.tableColor1{
  background-color: #dcdb3f;
}
.menu_card{
  border-radius: 5%;
  color:white;
  cursor: pointer;
  width: 19%;
  height: 80px;
  font-size: 25px;
  margin-top: 10px;
  margin-right: 5px;
}
.menu_body{
  display: flex;
  align-items: center;
  justify-content: center;
}
.table_header{
  display: flex;
  justify-content: space-between;
}
.div_1{
  padding-left: 4px;
  width: 20%;
}
.div_2{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.Order_div{
  display: flex;
  justify-content: space-between;
}
.button{
  width: 33%;
}
.btn-orders{
  border-color: #d6d6e2;
  font-size: 13px;
  font-weight: 600;
  height: 30px;
  line-height: 14px;
  width: auto;
}
.tables:hover{
  background-color: #4171ac;
}
.tables{
  color: white;
  background-color: #335d90;
}
.order{
  background-color: #ffffff;
  color: #335d90;
}
.order:hover {
  color: white;
  background-color: #335d90;
}
.btn-group{
  width: 75%;
}
.horizontal_line{
  margin-top: 5px;
  border-bottom: 2px solid rgb(105, 104, 104);
}
@media only screen and (min-width:700px) and (max-width:900px) {
  .btn-group{
      width: 100%;
      margin-right: 5px;
  }
  .btn-orders{
      height: auto;
  }
}
.OutletName {
  font-weight: 600;
  padding-left: 12px;
  margin-bottom: 5px;
  float: left;
}
.dine_table_col {
  background-color: transparent;
}
.dines_table_blk::after {
content: "";
width: 6px;
height: calc(100% - 20px);
display: block;
position: absolute;
left: 0;
top: 11px;
border-radius: 22px 0 0 22px;
}
.dines_table_check::after {
content: "";
width: 6px;
height: 100%;
display: block;
position: absolute;
left: 0;
top: 2px;
border-radius: 22px 0 0 22px;
}
.tableColor2 .dines_table_blk::after, .tableColor2 .dines_table_check::after {
background-color: #29b329;
}
.tableColor1 .dines_table_blk::after, .tableColor1 .dines_table_check::after {
background-color: #dcdb3f;
}
.tableColor2 .check_in {
color: #29b329;
}
.tableColor1 .check_in {
color: #dcdb3f;
}
section.dragging {
  touch-action: pan-down;
}

section article {
  display: flex;
}

.drop-zone {
  background: gray;
  height: 100%;
  width: 40px;
}

.view_order_blk  img,
.box {
  cursor: move;
}

.drag-transition {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

.drag-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  background: lightgray;
}
.table-Square .dines_table_check[_ngcontent-xjn-c265]::after {
  content: "";
  width: 6px;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 2px;
  border-radius: 22px 0 0 22px;
}

/* css for table format */
.non_editable img {
cursor: pointer;
}
.editable img {
cursor: grab;
}
.editable .dines_table {
cursor: grab !important;
}
.dines_table.table-Square {
  height: auto;
  width: 176px;
}
.dines_table .square-occupied img, .dines_table .square-empty img {
position: static;
}
.dines_table_check.table-Circle, .dines_table_check.table-Triangle, .dines_table_check.table-Square {
display: flex;
flex-direction: column;
height: 100%;
justify-content: center;
top: 1px;
}
.dines_table.table-Triangle {
  height: 150px;
  width: 160px;
}
.dines_table .triangle-occupied img, .dines_table .triangle-empty img {
position: static;
}
.dines_table.table-Circle {
  height: 127px;
  width: 132px;
}
.dines_table .circle-occupied img, .dines_table .circle-empty img {
position: static;
}
h2.dines_table_no {
font-size: 13px !important;
font-weight: 600 !important;
line-height: 15px !important;
}
.check_in {
font-size: 12px !important;
font-weight: 400 !important;
line-height: 14px !important;
padding: 2px 0 3px 0;
}
.dines_table_check h5 {
font-size: 11px !important;
margin: 0px;
line-height: 12px !important;
}
.dine_in_row {
width: 100%;
}
.drag-block.dine_table_col {
width: fit-content;
display: inline-flex;
position: absolute;
}
