<div class="page_container table_details_blk">
  <h2 class="text_pri font_20 fw-semi mb_7">Settings</h2>
  <div class="d-flex align-items-start settings_nav_main_blk">
    <app-settings></app-settings>
    <div class="settings_nav_info_container"  >
     <div *ngIf="commonService.checkRolePermissions('UPDATE_LOYALTY_SETTINGS')">
       <h5 class="font_16 cursor-pointer fw-med text_sec text-end text-underline mb_20" *ngIf="edit == false"
        (click)="onClickEdit()">Edit Loyality Settings</h5>
      <h5 class="font_16 cursor-pointer fw-med text_sec text-end text-underline mb_20" *ngIf="edit == true"
        (click)="saveLoyaltySettings()">Save
        Loayality Settings</h5>
     </div>
      <div class="row modal_input_row">
        <form class="ng-invalid ng-touched ng-dirty" [formGroup]="LoyalitySetting" (ngSubmit)="onSave()">
          <div class="row modal_input_row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="font_14 fe-reg text_pri mb_5"><span class="required-asterisk">*</span>
                  Min Amount To Use Wallet:</label>
                <input type="number" class="form-control" placeholder="Enter Amount" formControlName="minimuAmount">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="font_14 fe-reg text_pri mb_5"><span class="required-asterisk">*</span>
                  Amount Per Point:</label>
                <input type="number" class="form-control" placeholder="Enter Point " formControlName="Point">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="font_14 fe-reg text_pri mb_5"><span class="required-asterisk">*</span>Update Tier
                  by</label>
                <select class="form-control" name="" id="" formControlName="Updatetier">
                  <option value="">SelectTier</option>
                  <option value="Amount">Amount</option>
                  <option value="Points">Points</option>
                </select>
              </div>
            </div>
             <div class="col-md-4">
              <div class="form-group">
                <label class="font_14 fe-reg text_pri mb_5"><span class="required-asterisk">*</span>
                  Min Amount To Earn Points:</label>
                <input type="number" class="form-control" placeholder="Enter Point " formControlName="minAmountToEarnPoints" >
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group d-flex align-items-center">
                <label class="font_14 fe-reg text_pri m-0 pr_5"><span class="required-asterisk">*</span>Earn Points on Wallet Use</label>
                <input type="checkbox" formControlName="allowPoints">
              </div>
            </div>
          </div>
          <h4 class="font_14 mb_7 fw-semi">Table Details</h4>
          <div formArrayName="tiers">
            <div class="row modal_input_row" *ngFor="let tier of tiers.controls; let i = index" [formGroupName]="i">
              <div class="col-md-3" [ngClass]="{ 'add_tables_col': tiers.length > 1 && edit }">
                <div class="form-group">
                  <label class="font_14 fe-reg text_pri mb_5">
                    <span class="required-asterisk">*</span> Tier Name
                  </label>
                  <input type="text" class="form-control" placeholder="Enter Tier Name" formControlName="tiername">
                </div>
              </div>
              <div [ngClass]="{ 'add_tables_col': tiers.length > 1 && edit }" class="col-md-3">
                <div class="form-group">
                  <label class="font_14 fe-reg text_pri mb_5">
                    <span class="required-asterisk">*</span> Required Amount or Coin
                  </label>
                  <input type="number" class="form-control" placeholder="Enter Amount & Coin"
                    formControlName="amountAndCoin">
                </div>
              </div>
              <div [ngClass]="{ 'add_tables_col': tiers.length > 1 && edit }" class="col-md-3">
                <div class="form-group">
                  <label class="font_14 fe-reg text_pri mb_5">
                    <span class="required-asterisk">*</span> Points Per Amount
                  </label>
                  <input type="number" class="form-control" placeholder="Enter Coin per Amount"
                    formControlName="coinamount">
                </div>
              </div>
              <!-- <div [ngClass]="{ 'add_tables_col': tiers.length > 1 && edit }" class="col-md-3">
                <div class="form-group">
                  <label class="font_14 fe-reg text_pri mb_5">
                    <span class="required-asterisk">*</span> Min Amount To Earn Points
                  </label>
                  <input type="text" class="form-control" placeholder="Enter Coin per Amount"
                    formControlName="coinamount">
                </div>
              </div> -->
              <div class="add_tables_btn" *ngIf="tiers.length > 1 && edit">
                <div class="form-group mt_24">
                  <button type="button" (click)="removeTier(i)" class="back_none d-flex align-items-center">
                    <img alt="image" src="/assets/images/delete-icon.svg" class="cursor-pointer">
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="w-100" *ngIf="edit">
            <button type="button" (click)="addTier()" class="add_btn m-0">
              <img alt="image" src="/assets/images/add-icon.svg" class="mr_8">
              <span class="font_14 fw-semi text-sec">Add Table Details</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>