 <div class="modal-header mb_14">
    <h5 *ngIf="!isUpdate" class="font_20 fw-semi text_pri" id="SKUModalLabel">Add Category</h5>
    <h5 *ngIf="isUpdate" class="font_20 fw-semi text_pri" id="SKUModalLabel">Edit Category</h5>
    <img alt="image" src="/assets/images/modal-close-icon.svg" class="modal_close_icon cursor-pointer" (click)="closeModal()"/>
  </div>
  <div class="modal-body create_order_blk this_mon_blk form_popup">
    <form #categorysForm="ngForm" class="ng-invalid ng-touched ng-dirty" [formGroup]="categoryForm">
      <div class="row modal_input_row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="font_14 fe-reg text_pri mb_5">Category Name <span class="required-asterisk">*</span> </label>
            <input type="text" class="form-control" placeholder="Enter Category Name" formControlName="categoryName">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="font_14 fe-reg text_pri mb_5">Category Code <span class="required-asterisk">*</span></label>
            <input type="text" class="form-control" placeholder="Enter Category Code" formControlName="categoryCode">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="sel1" class="font_14 fe-reg text_pri mb_5">Select Location<span class="required-asterisk">*</span></label>
            <div class="position-relative">
              <select class="form-control select-control" id="sel1" formControlName="location">
                <option value="" [disabled]="true">Select Location</option>
                <option value="Kitchen">Kitchen</option>
                <option value="Warehouse">Bar</option>
              </select>
              <img alt="image" src="/assets/images/dropdown-arrow.svg" class="select_input_arrow"/>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="sel1" class="font_14 fe-reg text_pri mb_5">Select Course (Optional)</label>
            <div class="position-relative">
              <select class="form-control select-control" formControlName="course">
                <option *ngFor="let course of courseData" value="{{course.courseName}}">
                  {{course.courseName}}</option>
              </select>
              <img alt="image" src="/assets/images/dropdown-arrow.svg" class="select_input_arrow"/>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <span class="dragBox d-flex align-items-center flex-column">
            <div class="icon" *ngIf="isUpdate == false || SelectedImage">
              <img alt="image" [src] = "CategoryImage || 'assets/images/upload_icon.png'" [ngClass]="{'image' : CategoryImage }" />
            </div>
            <div class="icon" *ngIf="isUpdate == true && !SelectedImage">
              <img alt="image" src = "{{BaseUrl + CategoryImage}}" [ngClass]="{'image' : CategoryImage }" *ngIf="CategoryImage"/>
              <img alt="image" src = "assets/images/upload_icon.png" [ngClass]="{'image' : CategoryImage }" *ngIf="!CategoryImage"/>
            </div>
            <div class="mt-2" *ngIf="!CategoryImage">Upload Logo</div>
            <div class="mt-2" *ngIf="CategoryImage">Change Logo</div>

            <input type="file" (change)="dragNdrop($event)" formControlName="file" id="uploadFile" />
          </span>
      </div>
        <div class="col-md-12">
          <div class="form-group">
            <label class="font_14 fe-reg text_pri mb_5"> Description</label>
            <textarea class="form-control" placeholder="Category Description" formControlName="description"></textarea>
          </div>
        </div>
        <div class="col-md-6 pb_0">
          <button class="cancel_btn" type="reset" (click)="closeModal()">
            Cancel
          </button>
        </div>
          <div class="col-md-6 pb_0">
          <button *ngIf="isUpdate" class="btn_primary" ngbAutofocus
          name="btn_login" (click)="updateCategoryFormData(categorysForm.value)" type="submit">
          Save
        </button>
        <button *ngIf="!isUpdate" class="btn_primary" ngbAutofocus
          name="btn_login" (click)="addCategoryFormData()" type="submit">
          Save
        </button>
        </div>
      </div>
    </form>
  </div>