<div class="page_container">
  <h2 class="text_pri font_20 fw-semi mb_15">Orders</h2>
  <ul class="p-0 mb_7 d-flex align-items-center order_nav_blk">
    <li class="mr_6" *ngIf="commonService.checkRolePermissions('LIST_DINE_IN')"><a routerLink="/pos-dashboard/dine-in">Dine In</a></li>
    <li class="mr_6" *ngIf="commonService.checkRolePermissions('LIST_ONLINE')"><a class="active">Online</a></li>
    <li class="mr_6" *ngIf="commonService.checkRolePermissions('LIST_TAKEAWAY')"><a routerLink="/pos-dashboard/walk-in">Take Away</a></li>
  </ul>
  <div class="order_info_blk">
    <!-- <ul class="nav nav-tabs d-flex flex-wrap align-items-center nav_tabs_ul p-0" id="myTab" role="tablist">
      <li role="presentation">
        <a routerLink="/pos-dashboard/online">Running Orders</a>
      </li>
      <li role="presentation">
        <a class="active" routerLink="/pos-dashboard/online/completed-order">
          Completed Orders
        </a>
      </li>
      <li role="presentation">
        <a routerLink="/pos-dashboard/online/online-order-history">
          Order History
        </a>
      </li>
      <li role="presentation">
        <a routerLink="/pos-dashboard/online/online-voided-order">
          Voided Orders
        </a>
      </li>
    </ul> -->
    <div class="order_sub_nav_blk mb_10 d-flex align-items-center justify-content-between">
      <ul class="d-flex align-items-center p-0 m-0" id="myTab" role="tablist">
        <li role="presentation" *ngIf="commonService.checkRolePermissions('ONLINE_RUNNING_ORDERS')">
          <a routerLink="/pos-dashboard/online"> Running Orders</a>
        </li>
        <li role="presentation" *ngIf="commonService.checkRolePermissions('ONLINE_COMPLETED_ORDERS')">
          <a class="active" routerLink="/pos-dashboard/online/completed-order">Completed Orders</a>
        </li>
        <!-- <li role="presentation">
          <a routerLink="/pos-dashboard/online/online-order-history">Order History</a>
        </li> -->
        <li role="presentation" *ngIf="commonService.checkRolePermissions('ONLINE_VOIDED_ORDERS')">
          <a routerLink="/pos-dashboard/online/online-voided-order">Voided Orders</a>
        </li>
      </ul>
      <h6 class="font_18 fw-semi text_pri m-0">Total Value : <span class="fw-reg">{{count.toFixed(2)}}</span></h6>
    </div>
    <div class="order_sub_nav_blk row mb_20 dt_table_cust_filter_align">
      <div class="col-md-3">
        <label class="font_12 fw-med text_pri">Start Date</label>
        <input type="date" class="form-control" [(ngModel)]="StartDate" [max]="EndDate"/>
      </div>
      <div class="col-md-3">
        <label class="font_12 fw-med text_pri">End Date</label>
        <input type="date" class="form-control" [(ngModel)]="EndDate" [max]="Currentdate"/>
      </div>
      <div class="col-md-2 d-flex align-items-end">
        <div class="form-group d-flex align-items-center">
          <button class="filter_button mr_15" name="btn_login" type="button">
            <img alt="image" src="/assets/images/filter-icon.svg" (click)="OnClickFilter()"/>
          </button>
          <button class="table_reset_btn reset_btn">
            <img alt="image" src="/assets/images/reset-icon.svg" (click)="OnRefresh()"/>
          </button>
        </div>
      </div>
    </div>
    <div class="table-responsive order_info_container">
      <table *ngIf="isDataLoaded" datatable [dtOptions]="dtOptions" class="buyer_table w-100" id="table-request">
        <thead>
          <tr>
            <th id="unique_name">Customer Name</th>
            <th id="status_name">Order Number</th>
            <th id="order_unique_name">Amount</th>
            <th id="buyer_company_name">Status</th>
            <th id="buyer_company_name">Created At</th>
            <th id="buyer_company_name">Created By</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of orders; let i=index">
            <td>{{data.customerName}}</td>
            <td class="text-center orderTd">{{data.orderNo}}</td>
            <td>{{data.total |number:'1.2-2'}}</td>
            <td>{{data.orderStatus}}</td>
            <td>{{data.createdOn | date: 'yyyy-MM-dd HH:mm'}}</td>
            <td>{{data.createdByName}}</td>
            <td>
              <button class="btn btn-orders edit mr_15" (click)="orderDetails(data.orderId)">View</button>
              <!-- <button class="btn btn-orders edit mr_15" *ngIf="data.deliverectId == null || data.deliverectId ==''" (click)="EditPaymentFunc(data)">Edit Payment</button> -->
              <button class="btn btn-orders edit mr_15" (click)="print(data.orderId)">Print</button>
              <button class="btn btn-orders edit mr_15" *ngIf="data.deliverectId == null || data.deliverectId ==''" (click)="RepeatOrderfun(data.orderId)">Repeat Order</button>
              <!-- <button *ngIf="isCompanyAdmin" class="btn btn-orders edit mr_15" (click)="addEvent(voidpassword,data.orderId,i)">Void Order</button> -->
              <img alt="image" *ngIf="data.deliverectId != null && data.deliverectId !=''" src="/assets/images/Icon-flag1.svg"/>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- <div class="total_entries">
        <select class="len_per_page" (change)="changedLength($event)">
          <option value="5">5</option>
          <option value="10">10&nbsp;</option>
          <option value="20">20&nbsp;</option>
          <option value="-1">All&nbsp;</option>
        </select>
        <label>Total :</label>
        <label> {{tableListRecord.total}}</label>
      </div> -->
    </div>
  </div>
  <!-- pop-up for void order -->
  <ng-template #voidpassword let-close="close">
    <div>
      <div class="modal-body p_0">
        <div class="modal-header edit_popup p_30">

          <h2 style="margin-left: 2px;">Void Password</h2>
          <button type="button" #closebutton class="close" (click)="closeAction()">
            <span aria-hidden="true">×</span>
          </button>
        </div>

        <div class="cleartable-input">

          <div class="col-sm-12 form-group">
            <label>Enter Password :</label>
            <input type="text" class="form-control form-design" (keyup)="Password($event)"
              placeholder="Enter Password" />
              <span *ngIf="!isCorrectPass" style="color: red;">Password is Incorrect</span>
          </div>
        </div>

        <div class="pl-0 mt-4 text-right">
          <div class="form-group edit_popup_button" >
            <button class="btn btn-lg btn-primary active btn-block m-0" type="reset" (click)="closeAction()">
              Cancel
            </button>
                <button  class="btn btn-lg btn-primary active action-btn btn-block my-0 mr_16"
              (click)="voidOrder()" style="margin-left: 5px; ">
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
