.printMainDiv {
  border: 1px solid grey;
}
.horizontal_line {
  border-bottom: 2px solid black;
}
.print_title {
  font-size: 18px;
  text-align: center;
  font-weight: 600;
}
.print_body {
  border-bottom: 1px solid grey;
}
.div_1 {
  width: 100%;
}
.div_2 {
  width: 100%;
}
@media only screen and (min-width: 700px) and (max-width: 900px) {
  .div_1 {
    width: 60%;
  }
  .div_2 {
    width: 40%;
  }
  ::ng-deep .mat-expansion-panel-body {
    padding: 0 10px 10px !important;
  }
  .form-control {
    width: 90%;
  }
  .labelIn {
    width: 40%;
  }
}
