<div class="modal-header">
  <!-- <h5 class="font_20 fw-semi text_pri mb_15" id="SKUModalLabel">Order No: {{orderData?.orderNo}}</h5> -->
  <h5 class="font_20 fw-semi text_pri mb_15" id="SKUModalLabel">Order Details</h5>
  <img alt="image" src="/assets/images/modal-close-icon.svg" class="modal_close_icon cursor-pointer" (click)="closeModal()"/>
</div>
<div class="modal-body view_details_blk mb_15">
  <div class="row modal_input_row">
      <div class="col-md-3">
          <h6 class="font_14 fw-reg text_pri mb_5">Order Type</h6>
          <h4 class="font_14 fw-semi text-black m-0">{{orderData?.orderType}}</h4>
      </div>
      <div class="col-md-3">
          <h6 class="font_14 fw-reg text_pri mb_5">Order Status</h6>
          <h4 class="font_14 fw-semi text-black m-0">{{orderData?.orderStatus }}</h4>
      </div>
      <div class="col-md-3">
          <h6 class="font_14 fw-reg text_pri mb_5">Sub Total</h6>
          <h4 class="font_14 fw-semi text-black m-0">{{orderData?.subTotal | number:'1.2-2'}}</h4>
      </div>
      <div class="col-md-3">
          <h6 class="font_14 fw-reg text_pri mb_5">Total Payable Amount</h6>
          <h4 class="font_14 fw-semi text-black m-0">{{orderData?.total|number:'1.2-2'}}</h4>
      </div>
  </div>
</div>
<h3 class="font_16 fw-semi text_pri mb_10">Item Details</h3>
<div class="table-responsive mb_20">
    <table class="w-100 m-0">
        <tr>
            <th>Item Name</th>
            <th>Qty</th>
            <th>Amt</th>
            <th>Status</th>
        </tr>
        <tr *ngFor="let data of orderData?.items">
            <td>{{data.itemName}}</td>
            <td>{{data.orderQuantity}}</td>
            <td>{{data.itemTotal}}</td>
            <td>{{data.itemStatus}}</td>
        </tr>
    </table>
</div>
