<div class="modal-header">
    <h5 class="font_20 fw-semi text_pri mb_15" id="SKUModalLabel">Forgot Password</h5>
    <img alt="image" src="/assets/images/modal-close-icon.svg" class="modal_close_icon cursor-pointer" (click)="closeModal()"/>
</div>
<div class="modal-body create_order_blk this_mon_blk form_popup">
    <form class="ng-invalid ng-touched ng-dirty" [formGroup]="forgotPasswordFrm">
        <div class="mb_20">
            <label class="font_14 fe-reg text_pri mb_5">Registered Email</label>
            <input type="email" class="form-control" formControlName="emailAddress" placeholder="xyz@gmail.com">
        </div>
        <div class="row modal_input_row">
            <div class="col-md-6 pb_0">
                <button class="cancel_btn" type="reset" (click)="closeModal()">Cancel</button>
              </div>
            <div class="col-md-6 pb_0">
                <button class="btn_primary" type="submit" (click)="ResetPasswordFunc()">Save</button>
            </div>      
        </div>
    </form>
</div>