  <div class="modal-header">
    <h5 class="font_20 fw-semi text_pri mb_15" id="SKUModalLabel">Order Print</h5>
    <img alt="image" src="/assets/images/modal-close-icon.svg" class="modal_close_icon cursor-pointer" (click)="closeModal()"/>
  </div>
  <div id="print_Section" class="border-none">
    <div class="printMainDiv" class="mb_15">
      <div class="order_print_title_body">
        <h4 class="font_16 fw-semi text_pri mb_12 text-center">Order Print</h4>
        <span class="font_14 fw-semi text_pri mb_10 d-block"> Order No: {{orderDataById?.orderNo}}</span>
        <div class="order_print_type_blk">
          <h5 class="font_14 fw-semi text_pri mb_10">Order Type : {{orderDataById?.orderType}}</h5>
          <h5 class="font_14 fw-semi text_pri mb_10">Server : {{orderDataById?.createdByName}}</h5>
          <h5 class="font_14 fw-semi text_pri mb_10" *ngIf="orderDataById?.customerName != '' && orderDataById?.customerName != null">Customer : {{orderDataById?.customerName}}</h5>
        </div>
        <div class="mb_10 d-flex align-items-center justify-content-between">
          <div class="date_time">{{currentTime}}</div>
          <div class="date_time" style="text-align: end;">{{date}}</div>
        </div>
        <table class="m-0">
          <thead>
            <tr>
              <th>Table No</th>
              <th>Item</th>
              <th>Qty</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let data of orderDataById?.items; let i=index">
              <ng-container *ngIf="data.itemLocation === 'Kitchen'">
                <tr>
                  <td>{{data.tableNo}}</td>
                  <td>{{data.itemName}}
                    <div *ngIf="data.notes != null && data.notes != ''"><b>Note : </b>{{data.notes}}</div>
                  </td>
                  <td>{{data.orderQuantity}}</td>
                </tr>
                <tr *ngIf="data.modifiers.length" style="border-top: 0px">
                  <td colspan="4" class="mod_list_td">
                    <ul class="mod_ul">
                      <li *ngFor="let modifier of data.modifiers" class="mod_li">{{modifier.modifierName}}: + {{modifier.orderQuantity}}</li>
                    </ul>
                  </td>
                </tr>
              </ng-container>
            </ng-container>
          </tbody>
        </table>
        <div class="w-100" *ngIf="orderDataById?.finalNotes != null && orderDataById?.finalNotes != ''"><b>Order Note:
          </b>{{orderDataById.finalNotes}}</div>
    </div>
  </div>
  <div class="row modal_input_row">
    <div class="col-md-6 pb_0">
        <button class="cancel_btn" name="btn_login" (click)="closeModal()" type="reset">
          Close
      </button>
    </div>
    <div class="col-md-6 pb_0">
      <button class="btn_primary" printSectionId="print_Section" [useExistingCss]="true" ngxPrint>Print</button>
    </div>
  </div>
