<div class="reset_password_blk d-flex">
    <div class="container-fluid login_blk forgot_blk p-0 h-100" *ngIf="!isContent">
        <div class="key_blk d-flex align-items-center justify-content-center">
            <img src="assets/new-images/key.svg" alt="key" />
        </div>
        <div class="reset_container">
            <h5 *ngIf="isVoid" class="font_20 fw-semi text_pri mb_15" id="SKUModalLabel">Void Password</h5>
            <h5 *ngIf="!isVoid" class="font_20 fw-semi text_pri mb_15 text-center" id="SKUModalLabel">Reset Password</h5>
            <!-- <img alt="image" src="/assets/images/modal-close-icon.svg" class="modal_close_icon cursor-pointer" (click)="closeModal()"/> -->
            <form *ngIf="!isVoid && !showLoginMessage" class="ng-invalid ng-touched ng-dirty"
                [formGroup]="resetpasswordFrm">
                <div class="row modal_input_row">
                    <div class="col-md-12">
                        <div class="form-group position-relative">
                            <label class="font_14 fe-reg text_pri mb_5">New Password</label>
                            <input type="email" class="form-control" formControlName="newPassword" maxlength="50"
                                [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }"
                                placeholder="New Password" (input)="OnEnterKey()">
                            <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                                <span class="font_12 fe-reg" *ngIf="(f.newPassword.touched || submitted) && f.newPassword.errors.required">New Password is
                                    required</span>
                            </div>
                        </div>
                    </div>
                     <div class="col-md-12">
                        <div class="form-group position-relative">
                            <label class="font_14 fe-reg text_pri mb_5">Confirm Password</label>
                            <input type="email" class="form-control" formControlName="confirmPassword" maxlength="50"
                                [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
                                placeholder="Confirm Password" (input)="OnEnterKey()">
                            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                <span class="font_12 fe-reg" *ngIf="(f.confirmPassword.touched || submitted) && f.confirmPassword.errors.required">Confirm Password
                                    is
                                    required</span>
                            </div>
                        </div>
                    </div>
                </div>
                <label class="font_12 fe-reg text-red m-0" *ngIf="isNotMatching && (f.newPassword.value && f.confirmPassword.value)">Password are not matching</label><br>
                <div class="row modal_input_row">
                    <div class="col-md-6 pb_0">
                        <button class="cancel_btn" type="reset" (click)="closeModal()">Cancel</button>
                    </div>
                    <div class="col-md-6 pb_0">
                        <button class="btn_primary" type="submit" (click)="onClick()">Submit</button>
                    </div>
                </div>
            </form>


            <form *ngIf="isVoid" class="ng-invalid ng-touched ng-dirty" [formGroup]="voidpasswordFrm">
                <div class="row modal_input_row">
                    <div class="col-md-12">
                        <div class="form-group field">
                            <label class="font_14 fe-reg text_pri mb_5">Void Password</label>
                            <input type="email" class="form-control" formControlName="voidPassword" maxlength="50"
                                [ngClass]="{ 'is-invalid': submitted && f.voidPassword.errors }"
                                placeholder="Void Password">
                            <div *ngIf="submitted && f.voidPassword.errors" class="invalid-feedback">
                                <span class="font_12 fe-reg" *ngIf="f.voidPassword.errors.required">Void Password is
                                    required</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row modal_input_row">
                    <div class="col-md-6 pb_0">
                        <button class="cancel_btn" type="reset" (click)="closeModal()">Cancel</button>
                    </div>
                    <div class="col-md-6 pb_0">
                        <button *ngIf="VoidOrderId == null" class="btn_primary" type="submit"
                            (click)="onClick()">Submit</button>
                        <button *ngIf="VoidOrderId != null" class="btn_primary" type="submit"
                            (click)="submitVoidOrder()">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>