
<div class="page_container">
  <div class="weekly_report view_order_blk white_bg">
    <div class="OutletName mt-3">Outlet Name : {{outletName}}</div>

    <div class="create_order_blk this_mon_blk">
      <div class="row">
        <div class="col-md-9 empty"></div>
        <div class="col-md-3 d-flex align-items-end">
          <button class="create_order_btn w-100 d-flex align-items-center justify-content-center" (click)="openSetupForm()">
            <img src="assets/images/add-circle.svg" alt="add-circle" class="img-fluid mr_16">
            Add Tax Setup
          </button>
        </div>
      </div>
    </div>
    <div class="mt-2 mb-4 pb-1 w-100" id="checkBoxes">
      <div class="table-responsive">
        <table id="example" class="buyer_table w-100  nowrap"
               style="width:100%" id="table-request">
               <caption>Tax Setup Table</caption>
          <thead>
            <tr>
              <th scope="col"
                 >Outlat Name</th>
              <th scope="col"
                 >Item Included</th>
              <th scope="col">
                Action
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of taxData; let i=index">
              <td>{{item.outletName}}</td>
              <td>{{item.isItemIncludeTax}}</td>
              <td>
                <button class="btn btn-orders edit" (click)="edit(item.id)"><i class="fa fa-pencil"></i></button>
                <button class="btn btn-orders edit" (click)="view(item.id)">View</button>
                <button class="btn btn-orders edit" (click)="onDelete(item.id)"><i class="fa fa-trash" aria-hidden="true"></i></button>

              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
