
  <div *ngIf="orderLevel == true">
    <div class="modal-header">
      <h5 class="font_20 fw-semi text_pri mb_15" id="SKUModalLabel">Discount for Order No {{itemData.orderNo}}</h5>
      <img alt="image" src="/assets/images/modal-close-icon.svg" class="modal_close_icon cursor-pointer" (click)="closeModal()"/>
    </div>
  </div>
  <div *ngIf="orderLevel == false">
    <div class="modal-header">
      <h5 class="font_20 fw-semi text_pri mb_15" id="SKUModalLabel">Add Discount for {{itemData?.itemName}}</h5>
      <img alt="image" src="/assets/images/modal-close-icon.svg" class="modal_close_icon cursor-pointer" (click)="closeModal()"/>
    </div>
    <div class="w-100 mt-2">
      <!-- <h5 class="font_20 fw-semi text_pri mb_15" id="SKUModalLabel">Item Id {{itemData?.id}}</h5> -->
    </div>
  </div>
    <div class="order_sub_nav_blk p-0 mb_30 border-none">
      <ul class="d-flex align-items-center p-0 m-0">
        <li><a id="promoBtn" (click)="onDiscountPromo()" class="active cursor-pointer">Promo Code</a></li>
        <li><a id="discBtn" class="cursor-pointer" (click)="onDiscount()"> Discount</a></li>
      <!-- <div class="w-50 mr-2 text-right">
        <button id="promoBtn" class="btn btn-orders discBtn" (click)="onDiscountPromo()">Promo Code</button>
      </div>
      <div class="w-50 ml-2">
        <button id="discBtn" class="btn btn-orders discBtn" (click)="onDiscount()">Discount</button>
      </div> -->
      </ul>
    </div>
    <div *ngIf="normalDiscount == true">
       
        <ul class="m-0 p-0">
          <div *ngIf="discount.length == 0" class="mb_10 discount_item_blk">
            <h2 class="font_14 fw-reg text_pri m-0 text-center">No Discounts</h2>
          </div>
          <li *ngFor="let data of discount let i=index" class="discount_item_blk mb_5 d-flex align-items-center">
            <input type="checkbox" class="mr_10" name="options" id="{{data.discountId}}" [value]="data.discountId" [checked]="data.checked" (change)="normalDisc($event,data)">
            <span class="font_14 fw-reg text_pri">Discount Name: {{data.discountName}}</span>
          </li>
        </ul>
        <div *ngIf="showNormalForm == true" class="add_modifier_blk mb_20">
          <div class="row modal_input_row" *ngFor="let data of selctedNormalDiscount">
            <div class="col-md-3 pb_0">
                <h6 class="font_14 fw-reg text_pri mb_5">Discount Type</h6>
                <h4 class="font_14 fw-semi text-black m-0">{{data?.discountType}}</h4>
            </div>
            <div class="col-md-3 pb_0">
                <h6 class="font_14 fw-reg text_pri mb_5">Discount Value</h6>
                <h4 class="font_14 fw-semi text-black m-0">{{data?.discountValue}}</h4>
            </div>
            <div class="col-md-3 pb_0">
                <h6 class="font_14 fw-reg text_pri mb_5">Discounted Amount</h6>
                <h4 class="font_14 fw-semi text-black m-0">{{data?.discountedAmount}}</h4>
            </div>
            <div class="col-md-3 pb_0">
                <h6 class="font_14 fw-reg text_pri mb_5">Discount Notes</h6>
                <h4 class="font_14 fw-semi text-black m-0">{{data?.discoutNotes}}</h4>
            </div>
          </div>
        </div>
       <div class="row modal_input_row" *ngIf="orderLevel == false">
          <div class="col-md-6 pb_0">
              <button class="cancel_btn" name="btn_login" (click)="closeModal()" type="reset">
                  Cancel
            </button>
          </div>
          <div class="col-md-6 pb_0">
            <button class="btn_primary" name="btn_login" type="submit"(click)="addDiscount()">Add Discount</button>
            </div>
        </div>
        <div class="row modal_input_row" *ngIf="orderLevel == true">
          <div class="col-md-6 pb_0">
              <button class="cancel_btn" name="btn_login" (click)="closeModal()" type="reset">
                  Cancel
            </button>
          </div>
          <div class="col-md-6 pb_0">
            <button  class="btn_primary" name="btn_login" type="submit" (click)="addOrderDiscount()">Add Discount</button>
          </div>
       </div>
        <!-- <div class="text-right" *ngIf="orderLevel == false">
          <button class="btn btn-lg btn-primary active btn-block mb-1 mt-2 mr-2" type="reset"
            (click)="closeModal()">Cancel</button>
          <button class="btn btn-lg btn-primary active action-btn btn-block mb-1" ngbAutofocus name="btn_login"
            (click)="addDiscount()">Add Discount</button>
        </div> -->
        <!-- <div class="text-right" *ngIf="orderLevel == true">
          <button class="btn btn-lg btn-primary active btn-block mb-1 mt-2 mr-2" type="reset"
            (click)="closeModal()">Cancel</button>
          <button class="btn btn-lg btn-primary active action-btn btn-block mb-1" ngbAutofocus name="btn_login"
            (click)="addOrderDiscount()">Add Discount</button>
        </div> -->
    </div>
    <div *ngIf="promoDiscount == true">
        
        <ul class="p-0 m-0">
          <li *ngIf="promocode?.length == 0" class="mb_10 discount_item_blk">
            <h2 class="font_12 fw-reg text_pri m-0 text-center">No PromoCode</h2>
          </li>
          <li *ngFor="let data of promocode" class="discount_item_blk mb_10 d-flex align-items-center">
            <input type="checkbox" name="options" class="mr_10"  id="{{data.discountId}}" [value]="data.discountId" [checked]="data.checked" (change)="promoDisc($event,data)">
            <span class="font_14 fw-reg text_pri">Promo Code Name: {{data.promocodeName}} - PromoCode: {{data.promocode}}</span>
          </li>
        </ul>
        <div *ngIf="showPromoForm == true" class="add_modifier_blk mb_20">
          <div class="row modal_input_row" *ngFor="let data of selctedPromoDiscount">
            <div class="col-md-3 pb_0">
                <h6 class="font_14 fw-reg text_pri mb_5">Discount Type</h6>
                <h4 class="font_14 fw-semi text-black m-0">{{data?.promocodeType}}</h4>
            </div>
            <div class="col-md-3 pb_0">
                <h6 class="font_14 fw-reg text_pri mb_5">Discount Value</h6>
                <h4 class="font_14 fw-semi text-black m-0">{{data?.promocodeValue}}</h4>
            </div>
            <div class="col-md-3 pb_0">
                <h6 class="font_14 fw-reg text_pri mb_5">Discount Amount</h6>
                <h4 class="font_14 fw-semi text-black m-0">{{data?.discountedAmount}}</h4>
            </div>
            <div class="col-md-3 pb_0">
                <h6 class="font_14 fw-reg text_pri mb_5">Discount Notes</h6>
                <h4 class="font_14 fw-semi text-black m-0">{{data?.discountNotes}}</h4>
            </div>
          </div>
        </div>
        <!-- <div *ngIf="showPromoForm == true">
          <div><b>Discount Type :</b> {{selctedPromoDiscount?.promocodeType}}</div>
          <div><b>Discount Value:</b> {{selctedPromoDiscount?.promocodeValue}}</div>
          <div><b>Discounted Amount:</b> {{selctedPromoDiscount?.discountedAmount}}</div>
          <div><b>Discount Notes:</b> {{selctedPromoDiscount?.discountNotes}}</div>
        </div> -->
        <div class="row modal_input_row"*ngIf="orderLevel == false">
          <div class="col-md-6 pb_0">
              <button class="cancel_btn" name="btn_login" (click)="closeModal()" type="reset">
                  Cancel
            </button>
          </div>
          <div class="col-md-6 pb_0">
            <button  class="btn_primary" name="btn_login" type="submit" (click)="addDiscount()">Save</button>
          </div>
       </div>
        <div class="row modal_input_row" *ngIf="orderLevel == true">
          <div class="col-md-6 pb_0">
              <button class="cancel_btn" name="btn_login" (click)="closeModal()" type="reset">
                  Cancel
            </button>
          </div>
          <div class="col-md-6 pb_0">
            <button  class="btn_primary" name="btn_login" type="submit" (click)="addOrderDiscount()">save</button>
          </div>
        </div>
        <!-- <div class="text-right" *ngIf="orderLevel == false">
          <button class="btn btn-lg btn-primary active btn-block mb-1 mt-2 mr-2" type="reset"
            (click)="closeModal()">Cancel</button>
          <button class="btn btn-lg btn-primary active action-btn btn-block mb-1" ngbAutofocus name="btn_login"
            (click)="addDiscount()">Add Discount</button>
        </div> -->
        <!-- <div class="text-right" *ngIf="orderLevel == true">
          <button class="btn btn-lg btn-primary active btn-block mb-1 mt-2 mr-2" type="reset"
            (click)="closeModal()">Cancel</button>
          <button class="btn btn-lg btn-primary active action-btn btn-block mb-1" ngbAutofocus name="btn_login"
            (click)="addOrderDiscount()">Add Discount</button>
        </div> -->
    </div>