
  <div class="modal-header">
    <h3 class="font_20 fw-semi text_pri mb_15" id="SKUModalLabel">Add Tax Setup</h3>
    <img alt="image" src="/assets/images/modal-close-icon.svg" class="modal_close_icon cursor-pointer" (click)="closeModal()"/>
  </div>
  <div class="modal-body create_order_blk this_mon_blk form_popup">
    <form class="ng-invalid ng-touched ng-dirty" [formGroup]="taxSetupForm" (ngSubmit)="addTaxSetup()">
      <div class="d-flex justify-content-between">
        <div class="mod_check d-flex align-items-center mb_10">
          <input type="checkbox" id="isItemIncludeTax" formControlName="isItemIncludeTax"
            (change)="onCheckboxChange($event)" />
          <label class="m-0 pl_5 remeber_label">Item Price Includes Tax</label>
        </div>
        <div class="mod_check d-flex align-items-center mb_10">
          <input type="checkbox" id="subtractCheck" (change)="onSubtractCheckboxChange($event)" />
          <label class="m-0 pl_5 remeber_label">Subtract From Subtotal</label>
        </div>
      </div>

      <h4>Please Select Outlets to visible the item</h4>
      <div class="d-flex justify-content-between">

        <div class="form-group field_1">
          <label for="sel1"> Select Outlet<span class="required-asterisk">*</span></label>
          <select class="form-control select-control" id="sel1" formControlName="outletId">
            <option value="" [disabled]="true">Select Outlet</option>
            <option *ngFor="let outlet of resData?.outlets" value="{{outlet.outletId}}" [disabled]="isActiveOutlet">
              {{outlet.outletName}}</option>
          </select>
        </div>
        <div class="form-group field_1">
          <label>Percentage<span class="required-asterisk">*</span></label>
          <select class="form-control select-control" id="sel1" formControlName="percentage">
            <option value="" [disabled]="true">Select Percentage</option>
            <option *ngFor="let val of percentDataList" value="{{val.taxPercent}}" [disabled]="isActiveOutlet">
              {{val.taxPercent}}</option>
          </select>
        </div>
      </div>
      <div class="pl-0 mt-4 text-right">
        <button class="btn btn-lg btn-primary active btn-block m-0" type="reset" (click)="closeModal()">Cancel</button>
        <button class="btn btn-lg btn-primary active action-btn btn-block my-0 mr_16" style="margin-left: 5px;"
          ngbAutofocus name="btn_login" type="submit">
          Save
        </button>
      </div>
    </form>
  </div>