<div class="main_div">
    <div class="modal-header">
        <a href="javascript:void(0)" class="close" (click)="closeModal()"> <span aria-hidden="true">×</span> </a>
    </div>
    <div id="print_Section">
        <div class="printMainDiv">
            <div class="print_title_body">
                <div class="print_title">Order Print</div>
                <div class="print_title_orderno"> Order No: {{orderDataById?.orderNo}}</div>
                <div class="horizontal_line"></div>
                <div class="p-2" style="padding: 5px;">
                    <div class="invoice_no"><b>Order Type :</b>{{orderDataById?.orderType}}</div>

                </div>
                <div class="p-2" style="padding: 5px; display: flex; justify-content: space-between;">
                    <div class="date_time">{{currentTime}}</div>
                    <div class="date_time" style="text-align: end;">{{date}}</div>
                </div>
            </div>
            <div class="print_body">
                <table class="table">
                  <caption>Online Order Print Details</caption>
                    <thead>
                        <tr>
                            <th class="text-center">Table No</th>
                            <th class="text-center">Item</th>
                            <th class="text-center">Qty</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let data of orderDataById?.items; let i=index">

                            <tr>
                                <td>{{data.tableNo}}</td>
                                <td>{{data.itemName}}</td>
                                <td>{{data.orderQuantity}}</td>
                            </tr>
                            <tr *ngIf="data.modifiers.length" style="border-top: 0px">
                                <td colspan="4" class="mod_list_td">
                                    <ul class="mod_ul">
                                        <li *ngFor="let modifier of data.modifiers" class="mod_li">
                                            {{modifier.modifierItemName}}</li>
                                    </ul>
                                </td>
                            </tr>

                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="mt-2 text-right mb-2">
        <button class="btn btn-lg btn-primary active btn-block mb-1 mt-2 mr-2" type="reset"
            (click)="closeModal()">Close</button>
        <button class="btn btn btn-lg btn-primary active action-btn btn-block mb-1" printSectionId="print_Section"
            [useExistingCss]="true" ngxPrint>Print</button>
    </div>
</div>
