
<div class="modal-header">
    <h5 class="font_20 fw-semi text_pri mb_15" id="SKUModalLabel">Edit Modifier</h5>
    <img alt="image" src="/assets/images/modal-close-icon.svg" class="modal_close_icon cursor-pointer" (click)="closeModal()"/>
</div>
<div  class="modal-body create_order_blk this_mon_blk form_popup">
    <form #modifierForm="ngForm" class="ng-invalid ng-touched ng-dirty" [formGroup]="modForm" (ngSubmit)="addModifier(modifierForm.value)">
        <div class="row modal_input_row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="font_14 fe-reg text_pri mb_5">Modifier Group Name<span class="required-asterisk">*</span></label>
                    <input type="text" class="form-control" id="email" placeholder="Enter Modifier Group Name" formControlName="groupName">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="font_14 fe-reg text_pri mb_5"> Select Modifier Type <span class="required-asterisk">*</span></label>
                    <div class="position-relative">
                        <select class="form-control select-control"  formControlName="itemFrom" (change)="selectItemFrom($event)">
                            <option  value="Modifiers">Modifiers</option>
                            <option  value="Ingredients">Ingredients</option>
                        </select>
                        <img alt="image" src="/assets/images/dropdown-arrow.svg" class="select_input_arrow"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <label class="font_14 fe-reg text_pri mb_5" *ngIf="SelectedModifierType == 'Modifiers'">Modifier Name<span class="required-asterisk">*</span></label>
                <label class="font_14 fe-reg text_pri mb_5" *ngIf="SelectedModifierType == 'Ingredients'">Ingredient Name<span class="required-asterisk">*</span></label>
                <input type="text" class="form-control" id="email" placeholder="Enter Modifier Name" formControlName="modifierName" *ngIf="SelectedModifierType == 'Modifiers'">
                <input type="text" class="form-control" id="email" placeholder="Enter Ingredient Name" formControlName="modifierName" *ngIf="SelectedModifierType == 'Ingredients'">
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="font_14 fe-reg text_pri mb_5">Price</label>
                    <div class="d-flex align-items-center">
                        <input type="text" class="form-control mr_10" placeholder="Enter Price" formControlName="price">
                        <!-- <img alt="image" src="/assets/images/red-delete-icon.svg" class="cursor-pointer"/> -->
                    </div>
                </div> 
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="font_14 fe-reg text_pri mb_5"> Modifier Description</label>
                    <textarea class="form-control" placeholder="Modifier Description" formControlName="description"></textarea>
                </div>
            </div>
            <!-- <div class="col-md-4">
                <div  class="form-group" >
                    <label class="font_14 fe-reg text_pri mb_5"> Item Name </label>
                    <div class="position-relative">
                        <select class="form-control select-control" formControlName="itemName">
                            <option *ngFor="let item of itemData" id="{{item.id}}"  [ngValue]="item.id">{{item.itemName}}</option>
                        </select>
                        <img alt="image" src="/assets/images/dropdown-arrow.svg" class="select_input_arrow"/>
                    </div>
                </div>
            </div> -->
        </div>
        <!-- <div class="add_modifier_blk mb_20">
            <h4 class="font_16 fw-semi text_pri">Modifiers</h4>
            <div formArrayName="modifierItems" *ngFor="let address of modItemsControls; let i = index;">
                <div [formGroupName]="i">
                    <div class="row modal_input_row modifier_align_row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="font_14 fe-reg text_pri mb_5">Select Item From<span class="required-asterisk">*</span></label>
                                <div class="position-relative">
                                    <select class="form-control select-control" id="sel1" formControlName="itemFrom" (change)="selectItemFrom($event, i)">
                                        <option  value="ItemMaster">Item Master</option>
                                        <option  value="Ingredients">Ingredients</option>
                                    </select>
                                    <img alt="image" src="/assets/images/dropdown-arrow.svg" class="select_input_arrow"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" id="itemName{{i}}" style="display: none;">
                            <div  class="form-group">
                                <label class="font_14 fe-reg text_pri mb_5">Item Name<span class="required-asterisk">*</span></label>
                                <div class="position-relative">
                                    <select id="itemName{{i}}" class="form-control select-control" formControlName="itemName" (change)="selectItem($event, i)">
                                        <option *ngFor="let item of itemData" id="{{item.id}}" value="{{item.itemName}}">{{item.itemName}}</option>
                                    </select>
                                    <img alt="image" src="/assets/images/dropdown-arrow.svg" class="select_input_arrow"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" id="ingredient{{i}}" style="display: none;">
                            <div  class="form-group" >
                                <label class="font_14 fe-reg text_pri mb_5">Ingredient Name<span class="required-asterisk">*</span></label>
                                <div class="position-relative">
                                    <select id="ingredient{{i}}" class="form-control select-control" formControlName="itemName" (change)="selectIngredient($event,i)">
                                        <option *ngFor="let item of ingredientsData" id="{{item.id}}" value="{{item.childItemName}}">{{item.itemName}}</option>
                                    </select>
                                    <img alt="image" src="/assets/images/dropdown-arrow.svg" class="select_input_arrow"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="font_14 fe-reg text_pri mb_5">Price<span class="required-asterisk">*</span></label>
                                <div class="d-flex align-items-center">
                                    <input type="text" class="form-control modifier_price_input mr_10" placeholder="Enter Price" formControlName="price">
                                    <img alt="image" src="/assets/images/red-delete-icon.svg" class="cursor-pointer" (click)="removeMod(i)"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <a type="button" class="text-underline font_14 fw-med text-sec" (click)="addMod()">Add Modifier Item</a>
            </div>      
        </div> -->
        <div class="row modal_input_row">
            <div class="col-md-6 pb_0">
                <button class="cancel_btn" type="reset" (click)="closeModal()">Cancel</button>
              </div>
            <div class="col-md-6 pb_0">
                <button class="btn_primary" type="submit">Save</button>
            </div>      
        </div>
    </form>
</div>
