
    <div class="modal-header">
        <!-- <h5 class="font_20 fw-semi text_pri mb_15" id="SKUModalLabel">Promocode Id: {{promocodeData?.promocodeId}}</h5> -->
        <h5 class="font_20 fw-semi text_pri mb_15" id="SKUModalLabel">Promocode Details</h5>
        <img alt="image" src="/assets/images/modal-close-icon.svg" class="modal_close_icon cursor-pointer" (click)="closeModal()"/>
    </div>
    <div class="modal-body view_details_blk">
        <div class="row modal_input_row">
            <div class="col-md-3">
                <h6 class="font_14 fw-reg text_pri mb_5">Promocode Name</h6>
                <h4 class="font_14 fw-semi text-black m-0">{{promocodeData?.promocodeName}}</h4>
            </div>
            <div class="col-md-3">
                <h6 class="font_14 fw-reg text_pri mb_5">Promocode</h6>
                <h4 class="font_14 fw-semi text-black m-0">{{promocodeData?.promocode}}</h4>
            </div>
            <div class="col-md-3">
                <h6 class="font_14 fw-reg text_pri mb_5">Promocode Type</h6>
                <h4 class="font_14 fw-semi text-black m-0">{{promocodeData?.promocodeType}}</h4>
            </div>
            <div class="col-md-3">
                <h6 class="font_14 fw-reg text_pri mb_5">Promocode Value</h6>
                <h4 class="font_14 fw-semi text-black m-0">{{promocodeData?.promocodeValue}}</h4>
            </div>
            <div *ngIf="promocodeData?.description" class="col-md-3">
                <h6 class="font_14 fw-reg text_pri mb_5">Description</h6>
                <h4 class="font_14 fw-semi text-black m-0">{{promocodeData?.description}}</h4>
            </div>
            <div class="col-md-3">
                <h6 class="font_14 fw-reg text_pri mb_5">Valid UpTo</h6>
                <h4 class="font_14 fw-semi text-black m-0">{{promocodeData?.validUpto|date}}</h4>
            </div>
        </div>
    </div>