<div class="main_div">
  <div class="modal-header">
    <h5 class="modal-title" id="SKUModalLabel">Select Item</h5>
    <a href="javascript:void(0)" class="close" (click)="closeModal()"> <span aria-hidden="true">×</span> </a>
  </div>
  <div class="modal-body">
    <div class="order_cat_table">
      <table class="order_table w-100">
        <caption>Single Items List</caption>
        <thead>
          <tr>
            <th>Item Name</th>
            <th class="text-center">Qty</th>
            <th>Price</th>
            <th>Subtotal</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{itemData.itemName}}</td>
            <td class="text-center">
              <div class="quantity">
                <button (click)="quantityDecrement()" class="btn_minus">-</button>
                <input id="display" type="text" step="1" min="1" name="quantity" value="{{qtyVal}}" title="Qty"
                  class="form-control qty" (keyup)="onKey($event)"
                  onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" />
                <button (click)="quantityIncrement()" class="btn_minus">+</button>
              </div>
            </td>
            <td>{{itemData.itemAmount}}</td>
            <td class="text-center">{{subTotal}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="item_card_footer">
      <div class="item_total">
        <div class="w-50">Total:</div>
        <div class="w-50 total"><b>{{this.commonService.generalSettings.currency}}</b> {{total}}</div>
      </div>
    </div>
    <div class=" pl-0 mt-4 text-right ">
      <button class="btn btn-lg btn-primary active btn-block m-0" type="reset" (click)="closeModal()">
        Cancel
      </button>
      <button class="btn btn-lg btn-primary active action-btn btn-block my-0 mr_16" ngbAutofocus name="btn_login"
        (click)="addData()" style="margin-left: 5px;">
        Add
      </button>
    </div>
  </div>
</div>
