<div class="main_div">
  <div class="modal-header">
    <h5 class="modal-title" id="SKUModalLabel">Order No : {{orderData?.orderNo}}</h5>
    <a href="javascript:void(0)" class="close" (click)="closeModal()">
      <span aria-hidden="true">×</span>
    </a>
  </div>
  <h3 class="titleHead"><b>Order Type : {{orderData?.orderType}}</b></h3>
  <div class="container mb-2">
    <h3 class="titleHead">Order Details</h3>
    <table class="table table-striped">
      <caption>Prepared Item Table</caption>
      <thead class="thead-dark">
        <tr>
          <th scope="col">Item Name</th>
          <th scope="col">Quantity</th>
          <th scope="col">Status</th>
          <th scope="col">Location</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let order of orderData.items">
          <tr>
            <th scope="row">{{order.itemName}}</th>
            <td>{{order.orderQuantity}}</td>
            <td>{{order.itemStatus}}</td>
            <td>{{order.itemLocation}}</td>
          </tr>
          <tr *ngIf="order.modifiers.length">
            <td colspan="4" class="mod_list_td">
              <ul class="mod_ul">
                <li *ngFor="let modifier of order.modifiers" class="mod_li">{{modifier.modifierItemName}}</li>
              </ul>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
