<div class="modal-header mb_14">
    <h5 *ngIf="!isUpdate" class="font_20 fw-semi text_pri" id="SKUModalLabel">Add Payment Mode</h5>
    <h5 *ngIf="isUpdate" class="font_20 fw-semi text_pri" id="SKUModalLabel">Edit Payment Mode</h5>
    <img alt="image" src="/assets/images/modal-close-icon.svg" class="modal_close_icon cursor-pointer" (click)="closeModal()"/>
  </div>
  <div class="create_order_blk this_mon_blk modal-body form_popup">
    <form #tableDetailsForm="ngForm" class="ng-invalid ng-touched ng-dirty" [formGroup]="paymentModeForm">
      <div class="row modal_input_row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="font_14 fe-reg text_pri mb_5">Payment Mode<span class="required-asterisk">*</span></label>
            <input type="text" class="form-control" placeholder="Enter Payment Mode" formControlName="paymentMode">
          </div>
        </div>
        <div class="col-md-12 multi_phone_no_blk">
          <div class="add_modifier_blk">
            <h4 class="font_16 fw-med text_pri mb_10">Payment Sub Modes</h4>
            <div formArrayName="paymentSubMode" *ngFor="let address of modItemsControls; let i = index;" class="w-100">
              <div [formGroupName]="i">
                <div class="row modal_input_row modifier_align_row d-flex justify-content-between align-items-end">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="font_14 fe-reg text_pri mb_5"> Payment Sub Modes</label>
                      <input type="text" class="form-control" placeholder="Enter Payment Sub Modes" formControlName="subMode">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="d-flex align-items-center justify-content-between mb_10">                      
                      <img alt="image" src="/assets/images/red-delete-icon.svg" class="cursor-pointer" (click)="removeMod(i)"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div type="button" class="d-flex justify-content-end" (click)="addMod()">
              <img alt="image" src="/assets/images/add-icon.svg" class="mr_8"/>
              <span class="font_14 fw-semi text-sec">  Add Payment Mode</span>
            </div>
          </div>
        </div>
        <div class="col-md-6 pb_0">
          <button class="cancel_btn" type="reset"
            (click)="closeModal()">Cancel</button>
        </div>
        <div class="col-md-6 pb_0">
          <button *ngIf="isUpdate" class="btn_primary"
          name="btn_login" (click)="updatePaymentModeFormData(tableDetailsForm.value)">Save</button>
          <button *ngIf="!isUpdate" class="btn_primary"
          name="btn_login" (click)="addPaymentModeFormData(tableDetailsForm.value)">Save</button>
        </div>
      </div>
      
    </form>
  </div>