<div class="page_container">
  <div class="weekly_report view_order_blk white_bg">
    <div class="mt-2">
      <div class="OutletName float-left">Outlet Name : {{outletName}}</div>
      <div class="create_order_blk this_mon_blk">
        <div class="row">
          <div class="col-md-9 empty"></div>
          <div class="col-md-3 d-flex align-items-end">
            <button class="create_order_btn w-100 d-flex align-items-center justify-content-center" (click)="openForm()">
              <img src="assets/images/add-circle.svg" alt="add-circle" class="img-fluid mr_16">
              Add Form Access
            </button>
          </div>
        </div>
      </div>
      <br>
      <div class="mt-2 mb-4 pb-1 w-100" id="checkBoxes">
        <form>
          <label for="sel1"><span class="required-asterisk">*</span> <b>Select User:</b></label>
          <div class="float-container">
            <div class="float-child">
              <select class="form-control user" id="userId" (change)="onChange($event)">
                <option value="" [disabled]="true">Select User </option>
                <option *ngFor="let sform of userData" value="{{sform.userId}}">{{sform.userName}}</option>
              </select>
            </div>
            <div *ngIf="editBtn == true" class="float-child">
              <button class="btn btn-orders edit" (click)="edit()"><i class="fa fa-pencil"></i></button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div *ngIf="editBtn == true" class="mt-2 mb-4 pb-1 w-100" id="checkBoxes">
      <div class="table-responsive">
        <table id="example" class="buyer_table w-100  nowrap"
               style="width:100%" id="table-request">
               <caption>Form Access Table</caption>
          <thead>
            <tr>
              <th scope="col">Sl No</th>
              <th scope="col">Form Name</th>
              <th scope="col">Is Form Access</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of formAccessData; let i=index">
              <td>{{i+1}}</td>
              <td>{{data.formName}}</td>
              <td>{{data.isFormAccess}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
