<div class="page_container table_details_blk">
  <h2 class="text_pri font_20 fw-semi mb_7">Settings</h2>
  <div class="d-flex align-items-start settings_nav_main_blk">
  <app-settings></app-settings>
  <div class="settings_nav_info_container">
    <div class="d-flex align-items-center justify-content-end mb_21">
      <!-- <div class="position-relative w-30"> -->
        <!-- <input type="search" class="form-control search_icon_input" placeholder="search"> -->
        <!-- <img alt="image" src="/assets/images/search-icon.svg" class="search_input_icon"/> -->
      <!-- </div> -->
      
      <button class="add_btn" *ngIf="commonService.checkRolePermissions('ADD_TABLE_DESIGNS')" (click)="openForm()">
        <img alt="image" src="/assets/images/add-icon.svg" class="mr_8"/>
        <span class="font_14 fw-semi text-sec">Add Table Details</span>
      </button>
    </div>
    <div class="table-responsive respons_inventory_table" [ngClass]="commonService.checkRolePermissions('ADD_TABLE_DESIGNS') ? '' : 'm-0'">
      <table datatable [dtOptions]="dtOptions" *ngIf="isDataLoaded" class="nowrap buyer_table w-100" id="table-request">
        <thead>
          <tr>
            <th>Table Name/No</th>
            <th>Pilot</th>
            <th>Capacity</th>
            <th>Dine In Section</th>
            <th>Table Status</th>
            <th>Table Type</th>
            <th>Status</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of allItems; index as i">
            <td>{{item.tableNo}}</td>
            <td>{{item.pilot}}</td>
            <td>{{item.capacity}}</td>
            <td>{{item.tableType}}</td>
            <td>
              <div class="d-flex align-items-center">
                <span class="table_status_dot occupied_dot" *ngIf="item.tableStatus == 'Occupied'"></span>
                <span class="table_status_dot ready_dot" *ngIf="item.tableStatus == 'Empty'"></span>
                <span class="text-green fw-semi" *ngIf="item.tableStatus == 'Empty'">Ready To Occupy</span>
                <span class="text-red fw-semi" *ngIf="item.tableStatus == 'Occupied'">Occupied</span>
               </div>
            </td>
            <td>
              <!-- {{item.tableDesign}} -->
               <div *ngIf="item.tableDesign == 'Circle'"><img alt="image" src="/assets/images/circle-table.svg"/></div>
               <div *ngIf="item.tableDesign == 'Triangle'"><img alt="image" src="/assets/images/triangle-table.svg"/></div>
               <div *ngIf="item.tableDesign == 'Square'"><img alt="image" src="/assets/images/square-table.svg"/></div>
            </td>
            <td [attr.data-order]="item.activeStatus ? 1 : 0"
            > 
             
              <!-- <span class="table_status_text in_active_status" *ngIf="item.activeStatus == false">In Active</span>
              <span class="table_status_text active_status" *ngIf="item.activeStatus == true">Active</span> -->
              <mat-slide-toggle class="discount_slider_btn" color="accent" (click) = "changeTableStatus(item.tableId,item.activeStatus)" [(ngModel)]="item.activeStatus">
              </mat-slide-toggle>
            </td>
            <td>
              <div class="d-flex align-items-center justify-content-center">
                <span class="font_14 fw-med text_sec text-underline cursor-pointer mr_14" *ngIf="commonService.checkRolePermissions('PRINT_QR')" (click)="printQr(item)">Print QR</span>
                <img alt="image" src="/assets/images/edit-icon.svg" class="mr_14 cursor-pointer" *ngIf="commonService.checkRolePermissions('EDIT_TABLE_DESIGNS')" (click)="edit(item.tableId)"/>
                <!-- <img alt="image" src="/assets/images/view-icon.svg" class="mr_14 cursor-pointer" (click)="view(item.tableId)"/> -->
                <img alt="image" src="/assets/images/delete-icon.svg" class="cursor-pointer" *ngIf="commonService.checkRolePermissions('DELETE_TABLE_DESIGNS')" (click)="onDelete(item.tableId)"/>
                
              </div>  
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
  <!-- <div class="weekly_report view_order_blk white_bg">
    <div class="OutletName float-left">Outlet Name : {{outletName}}</div>
    <div class="create_order_blk this_mon_blk">
      <form action="">
        <div class="row">
          <div class="col-md-9 empty">
          </div>
          <div class="col-md-3 d-flex align-items-end">
            <button class="create_order_btn w-100 d-flex align-items-center justify-content-center"
              (click)="openForm()">
              <img src="assets/images/add-circle.svg" alt="add-circle" class="img-fluid mr_16">
              Add Table Details
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="mt-2 mb-4 pb-1 w-100" id="checkBoxes">
      <div class="table-responsive">
        <table datatable [dtOptions]="dtOptions" *ngIf="isDataLoaded" class="nowrap buyer_table w-100"
          id="table-request">
          <caption>Admin Table Details</caption>
          <thead>
            <tr>
              <th scope="col">
                Table Name / No
              </th>
              <th scope="col">Pilot</th>
              <th scope="col">
                Capacity
              </th>
              <th scope="col">
                Restaurant Section
              </th>
              <th scope="col">
                Table Status
              </th>
              <th scope="col">
                Table Design
              </th>
              <th scope="col">
                Status
              </th>
              <th scope="col">
                Action
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of allItems; index as i">
              <td>{{item.tableNo}}</td>
              <td>{{item.pilot}}</td>
              <td>{{item.capacity}}</td>
              <td>{{item.tableType}}</td>
              <td>{{item.tableStatus}}</td>
              <td><img alt="image" src="/assets/images/table-6-occupency.svg" class=""/></td>
              <td>Active</td>
              <td>
                <button class="btn btn-orders edit" (click)="edit(item.tableId)"><i class="fa fa-pencil"></i></button>
                <button class="btn btn-orders edit" (click)="view(item.tableId)">View</button>
                <button class="btn btn-orders edit" (click)="onDelete(item.tableId)"><i class="fa fa-trash"
                    aria-hidden="true"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="total_entries">
          <select class="len_per_page" (change)="changedLength($event)">
            <option value="5">5</option>
            <option value="10">10&nbsp;</option>
            <option value="20">20&nbsp;</option>
            <option value="-1">All&nbsp;</option>
          </select>
          <label>Total :</label>
          <label> {{tableListRecord.total}}</label>
        </div>
      </div>
    </div>
  </div> -->
</div>
