<div class="page_container table_details_blk">
  <h2 class="text_pri font_20 fw-semi mb_7">Settings</h2>
  <div class="d-flex align-items-start settings_nav_main_blk">
  <app-settings></app-settings>
  <div class="settings_nav_info_container">
    <div class="d-flex align-items-center justify-content-end mb_21">
      <button class="add_btn mr_14" *ngIf="commonService.checkRolePermissions('ADD_RESTAURANT_SECTION')" (click)="openForm()">
        <img alt="image" src="/assets/images/add-icon.svg" class="mr_8"/>
        <span class="font_14 fw-semi text-sec">  Add Restaurant Section</span>
      </button>
    </div>
    <div class="table-responsive" id="checkBoxes" [ngClass]="commonService.checkRolePermissions('ADD_RESTAURANT_SECTION') ? '' : 'm-0'">
      <table datatable [dtOptions]="dtOptions" *ngIf="isDataLoaded" id="example" class="buyer_table w-100 nowrap" id="table-request">
        <thead>
          <tr>
            <th>Restaurant Section Name</th>
            <th>Description</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of tableTypeData; let i=index">
            <td>{{data.tableTypeName}}</td>
            <td>{{data.description}}</td>
            <td [attr.data-order]="data.activeStatus ? 1 : 0"> 
              <mat-slide-toggle class="discount_slider_btn" color="accent" (click) = "changeCategoryStatus(data.tableTypeId,data.activeStatus)" [(ngModel)]="data.activeStatus">
              </mat-slide-toggle>
            </td>
            <td>
              <img alt="image" src="/assets/images/edit-icon.svg" class="mr_14 cursor-pointer" *ngIf="commonService.checkRolePermissions('EDIT_RESTAURANT_SECTION')" (click)="edit(data.tableTypeId)"/>
                <!-- <img alt="image" src="/assets/images/view-icon.svg" class="mr_14 cursor-pointer"  (click)="view(data.tableTypeId)"/> -->
                <img alt="image" src="/assets/images/delete-icon.svg" class="cursor-pointer" *ngIf="commonService.checkRolePermissions('DELETE_RESTAURANT_SECTION')" (click)="onDelete(data.tableTypeId)"/>
              <!-- <button class="btn btn-orders edit" (click)="edit(data.tableTypeId)"><i
                  class="fa fa-pencil"></i></button>
              <button class="btn btn-orders edit" (click)="view(data.tableTypeId)">
                View
              </button>
              <button class="btn btn-orders edit" (click)="onDelete(data.tableTypeId)"><i class="fa fa-trash"
                  aria-hidden="true"></i></button> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
