<div class="modal-header mb_14">
    <h5 *ngIf="!isUpdate" class="font_20 fw-semi text_pri" id="SKUModalLabel">Add Table Details</h5>
    <h5 *ngIf="isUpdate" class="font_20 fw-semi text_pri" id="SKUModalLabel">Edit Table Details</h5>
    <img alt="image" src="/assets/images/modal-close-icon.svg" class="modal_close_icon cursor-pointer" (click)="closeModal()"/>
  </div>
  <div class="create_order_blk this_mon_blk modal-body form_popup">
    <form #tableDetailsForm="ngForm" class="ng-invalid ng-touched ng-dirty" [formGroup]="tableDetailForm">
      <div class="row modal_input_row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="font_14 fe-reg text_pri mb_5">Table Name / No<span class="required-asterisk">*</span></label>
            <input type="text" class="form-control" placeholder="Enter Table Name" formControlName="tableNo">
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="form-group ">
            <label class="font_14 fe-reg text_pri mb_5">Pilot<span class="required-asterisk">*</span></label>
            <input type="text" class="form-control" placeholder="Enter Pilot" formControlName="pilot">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group ">
            <label class="font_14 fe-reg text_pri mb_5">Capacity<span class="required-asterisk">*</span></label>
            <input type="number" class="form-control" placeholder="Enter Capacity" formControlName="capacity">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group ">
            <label class="font_14 fe-reg text_pri mb_5">Select Restaurant Section<span class="required-asterisk">*</span> </label>
            <div class="position-relative">
              <select class="form-control select-control" id="sel1" formControlName="tableType">
                <option value="" [disabled]="true">Select Section</option>
                <option *ngFor="let type of tableTypes" value="{{type.tableTypeName}}">{{type.tableTypeName}}</option>
              </select>
              <img alt="image" src="/assets/images/dropdown-arrow.svg" class="select_input_arrow"/>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group ">
            <label for="sel1" class="font_14 fe-reg text_pri mb_5">Select Outlet<span class="required-asterisk">*</span></label>
            <div class="position-relative">
              <select class="form-control select-control" id="sel1" formControlName="outletId">
                <option value="" [disabled]="true">Select Outlet</option>
                <option *ngFor="let outlet of resData?.outlets" value="{{outlet.outletId}}" [disabled]="isActiveOutlet">
                  {{outlet.outletName}}</option>
              </select>
              <img alt="image" src="/assets/images/dropdown-arrow.svg" class="select_input_arrow"/>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group ">
            <label for="sel1" class="font_14 fe-reg text_pri mb_5">Select Table Desgin<span class="required-asterisk">*</span></label>
            <div class="position-relative">
              <select class="form-control select-control" id="sel1" formControlName="tableDesign">
                <option value="" [disabled]="true">Select Table Design</option>
                <option *ngFor="let design of tabledesignList" value="{{design.format}}" selected>
                  {{design.format}}</option>
              </select>
              <img alt="image" src="/assets/images/dropdown-arrow.svg" class="select_input_arrow"/>
            </div>
          </div>
        </div>
        <div class="col-md-6 pb_0">
          <button class="cancel_btn" type="reset"
            (click)="closeModal()">Cancel</button>
        </div>
        <div class="col-md-6 pb_0">
          <button *ngIf="isUpdate" class="btn_primary"
          name="btn_login" (click)="updateTableDetailsFormData(tableDetailsForm.value)">Save</button>
          <button *ngIf="!isUpdate" class="btn_primary"
          name="btn_login" (click)="addTableDetailsFormData(tableDetailsForm.value)">Save</button>
        </div>
      </div>
      
    </form>
  </div>