
    <div class="modal-header">
        <h5 class="font_20 fw-semi text_pri mb_15" id="SKUModalLabel">Tax Details</h5>
        <img alt="image" src="/assets/images/modal-close-icon.svg" class="modal_close_icon cursor-pointer" (click)="closeModal()"/>
    </div>
    <div class="modal-body view_details_blk">
        <div class="row modal_input_row">
            <div class="col-md-3">
                <h6 class="font_14 fw-reg text_pri mb_5">Tax Name</h6>
                <h4 class="font_14 fw-semi text-black m-0">{{taxData?.taxName}}</h4>
            </div>
        </div>
        <h5 class="font_16 fw-semi text_pri mb_15" id="SKUModalLabel">Tax Percent</h5>
        <div class="row modal_input_row tax_details_view_row">
            <div class="col-md-3">
                <h6 class="font_14 fw-reg text_pri mb_5">Tax Percentage</h6>
                <h4 class="font_14 fw-semi text-black m-0">{{taxData?.taxPercentage}}</h4>
            </div>
            <div class="col-md-2">
                <h6 class="font_14 fw-reg text_pri mb_5">Default</h6>
                <h4 class="font_14 fw-semi text-black m-0">{{taxData?.isDefault}}</h4>
            </div>
            <div class="col-md-3">
                <h6 class="font_14 fw-reg text_pri mb_5">Item Included Tax</h6>
                <h4 class="font_14 fw-semi text-black m-0">{{taxData?.isItemIncludeTax}}</h4>
            </div>
            <div class="col-md-4">
                <h6 class="font_14 fw-reg text_pri mb_5">Subtracted From SubTotal</h6>
                <h4 class="font_14 fw-semi text-black m-0">{{taxData?.isSubtractFromSubTotal}}</h4>
            </div>
        </div>
    </div>