<div class="page_container">
  <h2 class="text_pri font_20 fw-semi mb_15">Inventory</h2>
  <div class="d-flex align-items-end justify-content-between">
    <ul class="p-0 mb_7 d-flex align-items-center order_nav_blk">
      <li class="mr_6" *ngIf="commonService.checkRolePermissions('LIST_STOCK')"><a routerLink="/pos-dashboard/Inventory">Stock</a></li>
      <li class="mr_6" *ngIf="commonService.checkRolePermissions('LIST_PRODUCT')"><a routerLink="/pos-dashboard/Inventory/product" class="active">Product</a></li>
      <li class="mr_6" *ngIf="commonService.checkRolePermissions('LIST_SUPPLIER')"><a routerLink="/pos-dashboard/Inventory/supplier">Supplier</a></li>
      <li class="mr_6" *ngIf="commonService.checkRolePermissions('LIST_SUPPLIER_ORDER')"><a routerLink="/pos-dashboard/Inventory/supplier-order">Supplier Orders</a></li>
      <li class="mr_6" *ngIf="commonService.checkRolePermissions('LIST_BATCH_ITEM')"><a routerLink="/pos-dashboard/Inventory/batch-item">Batch Item</a></li>
    </ul>
    <div class="d-flex align-items-center mb_12" *ngIf="commonService.checkRolePermissions('ADD_PRODUCT')">
      <img alt="image" src="/assets/images/add-icon.svg" class="mr_5">
      <span class="font_16 fw-semi text-underline text-sec cursor-pointer respons_wmax_content" (click)="openForm('true',null)">Add Product</span>
    </div>
  </div>
  
  <div class="order_info_blk order_info_container floor_container inventory_info_blk">
    <!-- <div class="table_header mb_20 create_order_blk this_mon_blk">
      <div class="w-100">
        <div class="OutletName">Outlet Name : {{outletName}}</div>
      </div>
      <div class="col-md-3 d-flex align-items-end">
        <button class="create_order_btn w-100 d-flex align-items-center justify-content-center"
          (click)="openForm('true',null)">
          <img src="assets/images/add-circle.svg" alt="add-circle" class="img-fluid mr_16">
          Add Product
        </button>
      </div>
    </div> -->
    <!-- <ul class="nav nav-tabs d-flex flex-wrap align-items-center nav_tabs_ul p-0 mb_20" id="myTab" role="tablist">
      <li role="presentation">
        <a routerLink="/pos-dashboard/Inventory">
          Stock
        </a>
      </li>
      <li role="presentation">
        <a class="active" routerLink="/pos-dashboard/Inventory/product">
          Product
        </a>
      </li>
      <li role="presentation">
        <a routerLink="/pos-dashboard/Inventory/supplier">
          Supplier
        </a>
      </li>
      <li role="presentation">
        <a routerLink="/pos-dashboard/Inventory/supplier-order">
          Supplier Orders
        </a>
      </li>
      <li role="presentation">
        <a routerLink="/pos-dashboard/Inventory/batch-item">
          Batch Item
        </a>
      </li>
      <button class="btn btn-primary"
        style="margin: 2px; margin-right: 5px; padding-left: 12px; padding-right: 12px; float: right;"
        (click)="downloadFile()">
        <i class="fa fa-print" aria-hidden="true"></i>
        Export
      </button>
    </ul> -->
      <div class="d-flex justify-content-end align-items-center export_blk">
        <button class="export_btn d-flex align-items-center" *ngIf="commonService.checkRolePermissions('EXPORT_PRODUCT')" (click)="downloadFile()">
          <img alt="image" src="/assets/images/add-icon.svg" class="mr_8">
          <span class="font_14 fw-semi text-sec">Export</span>
        </button>
    </div>
      <div class="table-responsive">
        <table *ngIf="dataLoaded" datatable [dtOptions]="dtOptions" class="buyer_table w-100 nowrap" id="table-request">
          <thead class="thead-dark">
            <tr>
              <th id="unique_name">Sl No</th>
              <th id="unique_name">Product Name</th>
              <th id="unique_name">Supplier</th>
              <th id="buyer_company_name">Unit</th>
              <th id="unique_name">Created On</th>
              <th id="unique_name">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of AllProduct; let i=index">
              <td >{{i+1}}</td>
              <td><span class="text_sec fw-semi text-underline cursor-pointer" (click)="ShowResult(data.productName)">{{data.productName}}</span></td>
              <td *ngIf="data.wMData?.wMSupplierName || data.supplierName">{{ data.wMData?.wMSupplierName || data.supplierName }}</td>
              <td>{{data.unit}}</td>
                <td>{{data.createdOn | date: 'dd/MM/yyyy'}}</td>
              <td>                                                                    
                <div class="d-flex align-items-center">
                  <img alt="image" src="/assets/images/edit-icon.svg" class="mr_14 cursor-pointer" *ngIf="commonService.checkRolePermissions('EDIT_PRODUCT')" (click)="openForm('false',data.productId)"/>
                  <img alt="image" src="/assets/images/delete-icon.svg" class="cursor-pointer" *ngIf="commonService.checkRolePermissions('DELETE_PRODUCT')" (click)="Delete(data.productId,i)"/>
                </div>
                <!-- <button (click)="openForm('false',data.productId)" class="btn btn-orders edit">Edit</button>
                <button class="btn btn-orders edit" (click)="Delete(data.productId,i)">Delete</button> -->
              </td>
            </tr>
          </tbody>
        </table>
        <!-- <div class="total_entries">
          <select class="len_per_page" (change)="changedLength($event)">
            <option value="5">5</option>
            <option value="10">10&nbsp;</option>
            <option value="20">20&nbsp;</option>
            <option value="-1">All&nbsp;</option>
          </select>
          <label>Total :</label>
          <label> {{tableListRecord.total}}</label>
        </div> -->
      </div>
  </div>
</div>
