<div class="page_container">
  <h2 class="text_pri font_20 fw-semi mb_15">Orders</h2> 
  <ul class="p-0 mb_7 d-flex align-items-center order_nav_blk">
    <li class="mr_6" *ngIf="commonService.checkRolePermissions('LIST_DINE_IN')"><a class="active" routerLink="/pos-dashboard/dine-in">Dine In</a></li>
    <li class="mr_6" *ngIf="commonService.checkRolePermissions('LIST_ONLINE')"><a routerLink="/pos-dashboard/online">Online</a></li>
    <li class="mr_6" *ngIf="commonService.checkRolePermissions('LIST_TAKEAWAY')"><a routerLink="/pos-dashboard/walk-in">Take Away</a></li>
  </ul>
  <div class="order_info_blk">
    <div class="order_sub_nav_blk">
      <ul class="d-flex align-items-center nav_tabs_ul p-0 m-0" id="myTab" role="tablist">
        <li>
          <a routerLink="/pos-dashboard/dine-in" *ngIf="commonService.checkRolePermissions('ALL_TABLES')"
           >All Tables</a>
        </li>
        <li role="presentation" *ngIf="commonService.checkRolePermissions('DINEIN_RUNNING_ORDERS')">
          <a routerLink="/pos-dashboard/dine-in/running-order">
            Running Orders
          </a>
        </li>
        <li role="presentation" *ngIf="commonService.checkRolePermissions('DINEIN_COMPLETED_ORDERS')">
          <a routerLink="/pos-dashboard/dine-in/completed-order">
            Completed Orders
          </a>
        </li>
        <!-- <li role="presentation">
          <a routerLink="/pos-dashboard/dine-in/order-history">
            Order History
          </a>
        </li> -->
        <li role="presentation" *ngIf="commonService.checkRolePermissions('DINEIN_VOIDED_ORDERS')">
          <a class="active" routerLink="/pos-dashboard/dine-in/voided-order">
            Voided Orders
          </a>
        </li>
      </ul>
    </div>
    
  <div class="order_info_container">
    <!-- <div class="table_header mb_20 create_order_blk this_mon_blk">
      <div class="w-100">
        <div class="OutletName">Outlet Name : {{outletName}}</div>
      </div>
    </div> -->
    <!-- <ul class="nav nav-tabs d-flex flex-wrap align-items-center nav_tabs_ul p-0 mb_20" id="myTab" role="tablist">
      <li>
        <a routerLink="/pos-dashboard/dine-in">All Tables</a>
      </li>
      <li role="presentation">
        <a routerLink="/pos-dashboard/dine-in/running-order">
          Running Orders
        </a>
      </li>
      <li role="presentation">
        <a routerLink="/pos-dashboard/dine-in/completed-order">
          Completed Orders
        </a>
      </li>
      <li role="presentation">
        <a routerLink="/pos-dashboard/dine-in/order-history">
          Order History
        </a>
      </li>
      <li role="presentation">
        <a class="active" routerLink="/pos-dashboard/dine-in/voided-order">
          Voided Orders
        </a>
      </li>
    </ul> -->
    <!-- <div class="total_value"><b>Total Value :</b> {{count.toFixed(2)}}</div> -->
      <div class="table-responsive">
        <table *ngIf="isDataLoaded" datatable [dtOptions]="dtOptions" class="buyer_table w-100" id="table-request">
          <thead class="thead-dark">
            <tr>
              <th>Table Number</th>
              <th>Order Number</th>
              <th>Order Type</th>
              <th>Amount</th>
              <th>Status</th>
              <th>Voided At</th>
              <th>Voided By</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of orders; let i=index">
              <td><span *ngFor="let num of data.items | slice:0:1; let isLast=last">{{num.tableNo}}</span></td>
              <td>{{data.orderNo}}</td>
              <td>{{data.orderType}}</td>
              <td>{{data.total | number:'1.2-2'}}</td>
              <td>{{data.orderStatus}}</td>
              <td>{{data.lastModifiedOn | date: 'dd/MM/yyyy HH:mm'}}</td>
              <td>{{data.lastModifiedByName}}</td>
              <td class="text-center d-flex">
                <img alt="image" src="/assets/images/view-icon.svg" class="mr_14 cursor-pointer"  (click)="orderDetails(data.orderId)"/>
                <!-- <button class="btn btn-orders edit" (click)="orderDetails(data.orderId)">View</button> -->
              </td>
            </tr>
          </tbody>
        </table>
        <!-- <div class="total_entries">
          <select class="len_per_page" (change)="changedLength($event)">
            <option value="5">5</option>
            <option value="10">10&nbsp;</option>
            <option value="20">20&nbsp;</option>
            <option value="-1">All&nbsp;</option>
          </select>
          <label>Total :</label>
          <label> {{tableListRecord.total}}</label>
        </div> -->
      </div>
    </div>
  </div>
</div>
